In [11]:
import time
import os
from Research.backtest.bt import BTDaily
from Research.feature.ft import FeatureAnalysis
import Research.utils.namespace as namespace
import Research.utils.normalization as norm
from Platform.database.mysql import MysqlAPI
from Platform.utils.persistence import convert_to_standard_daily_feature_csv, convert_to_standard_daily_feature_par
from Platform.config.mysql_info import FACTOR_LIB_MYSQL_TIO
import DataAPI
from os import walk
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from progressbar import ProgressBar
from tqdm import tqdm
import multiprocessing as mp
import sys
sys.path.append("/home/wuwenjun/jupyter_code/Shannon/AlphaNet")
Alpha_Name = "AlphaNet_Original_Input_12.14"
path = '/home/wuwenjun/Data/' + Alpha_Name +'/'
target = "5d_ret"

In [3]:
data = pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_5d_return/Final/2016-01-01_2016-03-01.par")
data

,timestamp,ticker,0,1,2,3,4,5,6,7,...,315,316,317,318,319,320,321,322,323,target
0,2016-01-04 09:30:00,1,493.686822,100.297978,233.622631,848.107538,118.870156,215.930329,462.890987,48.074000,...,0.409564,0.063916,-0.397551,0.798538,0.403656,0.552324,1.583324,0.800347,1.095105,0.622714
1,2016-01-05 09:30:00,1,432.396820,49.027262,340.551782,735.228142,74.149009,384.986453,352.920684,24.332840,...,-0.070611,0.359575,-1.388393,0.792393,0.485904,0.522871,1.571133,0.963431,1.036695,0.595218
2,2016-01-06 09:30:00,1,337.971018,109.962562,959.914513,584.777067,78.857796,1056.321373,248.357680,69.037551,...,0.031607,0.758193,-1.141885,0.727955,0.603935,0.515858,1.443384,1.197476,1.022789,0.778602
3,2016-01-07 09:30:00,1,303.798249,285.786027,1219.175082,517.489902,270.479938,1205.942453,209.043831,226.646311,...,-0.214489,0.587138,-0.769965,0.682133,0.618636,0.495635,1.352536,1.226624,0.982700,0.950525
4,2016-01-08 09:30:00,1,309.432873,447.018827,1307.530622,478.841693,413.633627,1404.571589,191.728973,342.114307,...,-0.127053,0.588696,-1.568135,0.627447,0.682844,0.425711,1.244100,1.353944,0.844053,0.407136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100415,2016-02-23 09:30:00,603999,82.546333,13.220744,3.939839,64.556478,13.388256,4.094640,63.597444,11.013922,...,-4.019131,-0.788358,1.434060,33.695005,20.521491,16.546807,33.695005,20.521491,16.546807,-1.553833
100416,2016-02-24 09:30:00,603999,97.501361,8.654742,4.598367,73.989994,8.152866,5.015200,75.610106,5.526532,...,-2.878182,-0.053333,1.378724,31.666902,19.551269,16.623331,31.666902,19.551269,16.623331,-1.961587
100417,2016-02-25 09:30:00,603999,89.556589,3.085533,4.362713,69.703233,3.318556,4.575711,63.003850,2.035990,...,-4.065793,-0.239076,0.154095,30.533060,18.110360,16.718509,30.533060,18.110360,16.718509,-1.105204
100418,2016-02-26 09:30:00,603999,53.090480,2.417344,4.463398,41.824933,2.722233,4.601460,39.290122,1.961300,...,-4.592209,0.990322,-1.782736,29.053336,18.296711,16.472976,29.053336,18.296711,16.472976,-1.629470
100419,2016-02-29 09:30:00,603999,26.729549,2.153052,6.690133,25.776334,2.718253,6.995456,24.274252,1.517084,...,-2.876907,-0.086596,-2.489742,27.836593,17.372520,15.686615,27.836593,17.372520,15.686615,-0.879622

In [42]:
import DataAPI
import datetime
def convert_to_standard_daily_data_par(df: pd.DataFrame, output_name: str,  output_path: str):
    grouped = df.groupby('timestamp')
    for date, group in grouped:
        date_format = pd.to_datetime(date).date()
        assert DataAPI.is_trading_day(date), f"{date} is not a trading date!"
        file_name = datetime.date.strftime(date_format, '%Y%m%d') + '.par'
        folder = os.path.join(output_path, output_name, str(date_format.year))
        if not os.path.exists(folder):
            os.makedirs(folder)
        file = os.path.join(folder, file_name)
        group.to_parquet(file)
    return None
def convert_to_standard_daily_data_csv(df: pd.DataFrame, output_name: str,  output_path: str):
    grouped = df.groupby('timestamp')
    for date, group in grouped:
        date_format = pd.to_datetime(date).date()
        assert DataAPI.is_trading_day(date), f"{date} is not a trading date!"
        file_name = datetime.date.strftime(date_format, '%Y%m%d') + '.csv'
        folder = os.path.join(output_path, output_name, str(date_format.year))
        if not os.path.exists(folder):
            os.makedirs(folder)
        file = os.path.join(folder, file_name)
        group.to_csv(file, sep=',', mode='w', header=False, encoding='utf-8')
    return None
class DataLoader(object):
    def __init__(self, model, device=None):
        self.feature_data = None
        self.target = None
        self.length = None
        self.y = None
    def load_data_from_file(data_path,end_date,start_date = "2015-01-01"):
        time_list  = DataAPI.get_trading_days(start_date,end_date)
        final = []
        for date in time_list:
            date = data_path + str(date.year) + '/' + str(date.year) + str(date.month).zfill(2) + str(date.day).zfill(2) + ".par"
            if (os.path.exists(date)):
                final.append(pd.read_parquet(date))
        self.feature_data = pd.concat(final,axis=0)
        self.length = self.feature_data.shape[0]
        return self.feature_data
    
    def to_torch_DataLoader(sequence,shuffle,batch_size = 1024,num_workers = 16):
        self.target = pd.DataFrame(self.feature_data["target"])
        self.feature_data.drop("target",axis=1,inplace=True)
        self.feture_data.set_index(["timestamp","ticker"],inplace=True)
        x = torch.from_numpy(np.array(self.feture_data).reshape(self.length,-1,sequence))
        y = torch.from_numpy(np.array(self.target).reshape(-1,1))
        self.feature_data = torch.utils.data.TensorDataset(x, y)
        self.feature_data = torch.utils.data.DataLoader(
            dataset=self.feature_data,
            batch_size=batch_size,
            shuffle=shuffle,
            num_workers=num_workers,
            pin_memory=True
        )
        return self.feature_data

In [12]:
config_path = r'/home/ShareFolder/lgc/Modules/Research/config/feature_bt_template'
print('Loading the configuration from ' + config_path)
configs = namespace.load_namespace(config_path)
FT = FeatureAnalysis(configs, feature_path=r"/home/ShareFolder/feature_platform")
alpha_list = list(FT.features_in_path.keys())[:]
alpha_list = ['ewmCorr(high,low,7)','ewmCov(open,high,7)']
print(alpha_list)
start_date = '2015-01-01'
end_date = '2022-01-01'
FT.load_feature_from_file(alpha_list, start_date, end_date, universe='Investable',
                                       timedelta=None, transformer=norm.standard_scale)

Loading the configuration from /home/ShareFolder/lgc/Modules/Research/config/feature_bt_template

Loading Feature...:   4%|███▊                                                                                     | 147/3410 [00:00<00:03, 996.06it/s]

['ewmCorr(high,low,7)', 'ewmCov(open,high,7)']

Loading Feature...: 100%|████████████████████████████████████████████████████████████████████████████████████████| 3410/3410 [00:06<00:00, 527.47it/s]

(                            ewmCorr(high,low,7)  ewmCov(open,high,7)
 timestamp           ticker
 2016-01-05 09:30:00 002269             0.261552            -0.020979
                     000629             0.261552            -0.020978
                     603022             0.261552            -0.020970
                     600617             0.261552            -0.020860
                     002684             0.261552            -0.020868
 ...                                         ...                  ...
 2021-07-01 09:30:00 300230            -4.442220            -0.037525
                     002319            -4.504204            -0.036942
                     603286            -4.533666            -0.037445
                     000796            -4.536809            -0.033297
                     002707            -4.536859            -0.020746

 [4444115 rows x 2 columns],
 None)

Process ForkPoolWorker-142:
Process ForkPoolWorker-76:
Process ForkPoolWorker-81:
Process ForkPoolWorker-133:
Process ForkPoolWorker-121:
Process ForkPoolWorker-109:
Process ForkPoolWorker-73:
Process ForkPoolWorker-85:
Process ForkPoolWorker-139:
Process ForkPoolWorker-143:
Process ForkPoolWorker-110:
Process ForkPoolWorker-132:
Process ForkPoolWorker-79:
Process ForkPoolWorker-136:
Process ForkPoolWorker-140:
Process ForkPoolWorker-120:
Process ForkPoolWorker-135:
Traceback (most recent call last):
Process ForkPoolWorker-91:
Process ForkPoolWorker-104:
Process ForkPoolWorker-123:
Process ForkPoolWorker-100:
Process ForkPoolWorker-130:
Process ForkPoolWorker-118:
Process ForkPoolWorker-144:
Process ForkPoolWorker-138:
Process ForkPoolWorker-131:
Process ForkPoolWorker-119:
Process ForkPoolWorker-114:
Process ForkPoolWorker-127:
Process ForkPoolWorker-108:
Process ForkPoolWorker-115:
Process ForkPoolWorker-87:
Process ForkPoolWorker-89:
Process ForkPoolWorker-129:
Process ForkPoolWorker-94:
Process ForkPoolWorker-107:
Process ForkPoolWorker-128:
Process ForkPoolWorker-77:
Process ForkPoolWorker-90:
Process ForkPoolWorker-83:
Process ForkPoolWorker-117:
Process ForkPoolWorker-101:
Process ForkPoolWorker-111:
Process ForkPoolWorker-103:
Process ForkPoolWorker-98:
Process ForkPoolWorker-125:
Process ForkPoolWorker-112:
Process ForkPoolWorker-134:
Process ForkPoolWorker-102:
Process ForkPoolWorker-105:
Process ForkPoolWorker-75:
Process ForkPoolWorker-141:
Process ForkPoolWorker-96:
Process ForkPoolWorker-106:
Process ForkPoolWorker-92:
Process ForkPoolWorker-88:
Process ForkPoolWorker-122:
Process ForkPoolWorker-95:
Process ForkPoolWorker-80:
Process ForkPoolWorker-137:
Process ForkPoolWorker-86:
Process ForkPoolWorker-84:
Process ForkPoolWorker-126:
Process ForkPoolWorker-78:
Process ForkPoolWorker-124:
Process ForkPoolWorker-97:
Process ForkPoolWorker-116:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()

  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)

  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()

  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 352, in get
    res = self._reader.recv_bytes()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()

  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/connection.py", line 216, in recv_bytes
    buf = self._recv_bytes(maxlength)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
KeyboardInterrupt
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
Process ForkPoolWorker-82:
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/connection.py", line 407, in _recv_bytes
    buf = self._recv(4)

KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
KeyboardInterrupt
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/connection.py", line 379, in _recv
    chunk = read(handle, remaining)
KeyboardInterrupt
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 99, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/pool.py", line 110, in worker
    task = get()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/queues.py", line 351, in get
    with self._rlock:
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/synchronize.py", line 95, in __enter__
    return self._semlock.__enter__()
KeyboardInterrupt
Process ForkPoolWorker-93:
Process ForkPoolWorker-113:
Process ForkPoolWorker-99:
Process ForkPoolWorker-74:
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()
Traceback (most recent call last):
  File "/usr/local/miniconda/lib/python3.7/multiprocessing/process.py", line 297, in _bootstrap
    self.run()

In [13]:
data = FT.feature_data
data

                            ewmCorr(high,low,7)  ewmCov(open,high,7)
timestamp           ticker
2016-01-05 09:30:00 002269             0.261552            -0.020979
                    000629             0.261552            -0.020978
                    603022             0.261552            -0.020970
                    600617             0.261552            -0.020860
                    002684             0.261552            -0.020868
...                                         ...                  ...
2021-07-01 09:30:00 300230            -4.442220            -0.037525
                    002319            -4.504204            -0.036942
                    603286            -4.533666            -0.037445
                    000796            -4.536809            -0.033297
                    002707            -4.536859            -0.020746

[4444115 rows x 2 columns]

In [25]:
from AlphaNet import Data
output_path = r'/home/wuwenjun/feature_platform/ti0/wuwenjun'
for i in data.columns:
    one_data = pd.DataFrame(data[i]).unstack()
    display(one_data)
    mean = one_data.rolling(30).mean()
    std = one_data.rolling(30).std()
    one_data = ((one_data- mean) /std ).stack()
    one_data.columns = one_data.columns + "_time_series_norm"
    display(one_data)
    Data.convert_to_standard_daily_data_csv(one_data, one_data.columns.to_list()[0], output_path)

                    ewmCorr(high,low,7)                                \
ticker                           000001    000002    000004    000005
timestamp
2016-01-05 09:30:00            0.261552       NaN  0.261552  0.261552
2016-01-06 09:30:00           -1.179235       NaN  0.316584  0.284800
2016-01-07 09:30:00           -2.138963       NaN  0.642144 -1.280154
2016-01-08 09:30:00           -0.645846       NaN  0.714015 -1.198864
2016-01-11 09:30:00           -0.464023       NaN  0.507512  0.350756
...                                 ...       ...       ...       ...
2021-06-25 09:30:00           -0.220448  0.753203  0.030204       NaN
2021-06-28 09:30:00            0.726565 -1.291454  0.791397       NaN
2021-06-29 09:30:00            0.083221 -3.830642  0.765737       NaN
2021-06-30 09:30:00            0.734792  0.606742  0.660387       NaN
2021-07-01 09:30:00            0.399727  0.802057 -0.713479       NaN

                                                                              \
ticker                 000006 000007    000008    000009    000010    000011
timestamp
2016-01-05 09:30:00  0.261552    NaN  0.261552  0.261552  0.261552  0.261552
2016-01-06 09:30:00  0.143454    NaN  0.175421  0.244310  0.356357  0.247282
2016-01-07 09:30:00 -0.242516    NaN -2.718368  0.263464  0.184344 -0.701027
2016-01-08 09:30:00 -0.508405    NaN -1.642781  0.537446  0.074091 -0.295546
2016-01-11 09:30:00  0.264711    NaN  0.178272  0.448680  0.241579  0.299775
...                       ...    ...       ...       ...       ...       ...
2021-06-25 09:30:00  0.640582    NaN -0.597944  0.188361 -2.314526  0.579131
2021-06-28 09:30:00  0.381108    NaN -0.591933  0.446139  0.289578 -1.955353
2021-06-29 09:30:00 -1.086995    NaN -0.548959  0.945448  0.533453 -1.859214
2021-06-30 09:30:00 -1.367436    NaN -4.643112  0.783155 -0.627614 -2.003918
2021-07-01 09:30:00  0.514116    NaN -3.382631  0.514300  0.420130 -0.444970

                     ...                                                    \
ticker               ...    688686    688687    688689    688696    688698
timestamp            ...
2016-01-05 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
2016-01-06 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
2016-01-07 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
2016-01-08 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
2016-01-11 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
...                  ...       ...       ...       ...       ...       ...
2021-06-25 09:30:00  ...  0.785240  0.460934  0.338800  0.609478  0.579097
2021-06-28 09:30:00  ...  0.113779  0.795223  0.021924  0.316309  0.492031
2021-06-29 09:30:00  ...  0.899798  0.577971  0.743663  0.869901 -0.001323
2021-06-30 09:30:00  ...  0.237340  0.007369  0.478637  0.345280 -0.070472
2021-07-01 09:30:00  ...  0.088727  0.814188  0.836247  0.753035  0.040772


ticker                 688699    688777    688788    688819    688981
timestamp
2016-01-05 09:30:00       NaN       NaN       NaN       NaN       NaN
2016-01-06 09:30:00       NaN       NaN       NaN       NaN       NaN
2016-01-07 09:30:00       NaN       NaN       NaN       NaN       NaN
2016-01-08 09:30:00       NaN       NaN       NaN       NaN       NaN
2016-01-11 09:30:00       NaN       NaN       NaN       NaN       NaN
...                       ...       ...       ...       ...       ...
2021-06-25 09:30:00 -2.736069  0.647779 -2.436371  0.406294 -1.271262
2021-06-28 09:30:00 -1.038083  0.238576 -0.023577  0.772423  0.128201
2021-06-29 09:30:00  0.738109  0.832045  0.853149  0.566438  0.316482
2021-06-30 09:30:00  0.692961  0.328196  0.863236  0.621541  0.206157
2021-07-01 09:30:00  0.878915 -2.944074  0.862350  0.599499  0.628313

[1336 rows x 4272 columns]

                            ewmCorr(high,low,7)_time_series_norm
timestamp           ticker
2016-02-22 09:30:00 000001                              1.059050
                    000004                              1.257447
                    000005                              1.462050
                    000006                              0.501282
                    000008                              0.719404
...                                                          ...
2021-07-01 09:30:00 688699                              0.802624
                    688777                             -2.239132
                    688788                              0.927523
                    688819                              0.671323
                    688981                              0.822214

[4314920 rows x 1 columns]

                    ewmCov(open,high,7)                                \
ticker                           000001    000002    000004    000005
timestamp
2016-01-05 09:30:00           -0.020875       NaN -0.020909 -0.020974
2016-01-06 09:30:00           -0.025984       NaN -0.026216 -0.026315
2016-01-07 09:30:00           -0.025445       NaN -0.025623 -0.025719
2016-01-08 09:30:00           -0.025182       NaN -0.025340 -0.025434
2016-01-11 09:30:00           -0.028412       NaN -0.028599 -0.028781
...                                 ...       ...       ...       ...
2021-06-25 09:30:00           -0.045866  0.327505 -0.058105       NaN
2021-06-28 09:30:00            0.423449  0.156516 -0.037314       NaN
2021-06-29 09:30:00           -0.045255  0.087339 -0.035881       NaN
2021-06-30 09:30:00            2.497821  2.223110 -0.046982       NaN
2021-07-01 09:30:00            0.480049  1.438712 -0.036911       NaN

                                                                              \
ticker                 000006 000007    000008    000009    000010    000011
timestamp
2016-01-05 09:30:00 -0.020837    NaN -0.020996 -0.020964 -0.020956 -0.020979
2016-01-06 09:30:00 -0.026036    NaN -0.026241 -0.026307 -0.026300 -0.026328
2016-01-07 09:30:00 -0.025487    NaN -0.025695 -0.025711 -0.025699 -0.025726
2016-01-08 09:30:00 -0.025256    NaN -0.025412 -0.025421 -0.025416 -0.025436
2016-01-11 09:30:00 -0.028390    NaN -0.028682 -0.028771 -0.028763 -0.028789
...                       ...    ...       ...       ...       ...       ...
2021-06-25 09:30:00 -0.057890    NaN -0.058127 -0.051808 -0.058127 -0.058050
2021-06-28 09:30:00 -0.052957    NaN -0.052997 -0.053688 -0.053000 -0.053229
2021-06-29 09:30:00 -0.041767    NaN -0.041518 -0.020847 -0.041518 -0.041548
2021-06-30 09:30:00 -0.051073    NaN -0.050894  0.030780 -0.050787 -0.050907
2021-07-01 09:30:00 -0.037658    NaN -0.037414 -0.018695 -0.037060 -0.037428

                     ...                                                    \
ticker               ...    688686    688687    688689    688696    688698
timestamp            ...
2016-01-05 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
2016-01-06 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
2016-01-07 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
2016-01-08 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
2016-01-11 09:30:00  ...       NaN       NaN       NaN       NaN       NaN
...                  ...       ...       ...       ...       ...       ...
2021-06-25 09:30:00  ...  0.020951 -0.057952 -0.058175  0.108181 -0.057793
2021-06-28 09:30:00  ... -0.002637 -0.052883 -0.052806  0.089211 -0.052856
2021-06-29 09:30:00  ...  0.060814 -0.041328 -0.041346  0.091196 -0.041501
2021-06-30 09:30:00  ...  0.123171 -0.050717 -0.051085  0.246657 -0.050825
2021-07-01 09:30:00  ... -0.004694 -0.037199 -0.037359  0.026477 -0.037376


ticker                 688699    688777    688788    688819    688981
timestamp
2016-01-05 09:30:00       NaN       NaN       NaN       NaN       NaN
2016-01-06 09:30:00       NaN       NaN       NaN       NaN       NaN
2016-01-07 09:30:00       NaN       NaN       NaN       NaN       NaN
2016-01-08 09:30:00       NaN       NaN       NaN       NaN       NaN
2016-01-11 09:30:00       NaN       NaN       NaN       NaN       NaN
...                       ...       ...       ...       ...       ...
2021-06-25 09:30:00 -0.054208 -0.056624 -0.055165 -0.058007 -0.058231
2021-06-28 09:30:00 -0.173190 -0.052358 -0.043643 -0.052923 -0.053269
2021-06-29 09:30:00  0.136883 -0.040882 -0.038246 -0.041593 -0.041337
2021-06-30 09:30:00  0.209448 -0.050260  0.014660 -0.049017 -0.050720
2021-07-01 09:30:00  0.687869 -0.037480 -0.027722 -0.037094 -0.037043

[1336 rows x 4272 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-02-22 09:30:00 000001                             -1.445096
                    000004                             -1.384286
                    000005                             -1.366422
                    000006                             -1.369831
                    000008                             -1.395631
...                                                          ...
2021-07-01 09:30:00 688699                              4.678937
                    688777                             -0.031998
                    688788                              0.089871
                    688819                              0.122882
                    688981                              0.134982

[4276422 rows x 1 columns]

In [26]:
pd.read_csv("/home/wuwenjun/feature_platform/ti0/wuwenjun/ewmCorr(high,low,7)_time_series_norm/2016/20160222.csv")

      1.0590501503059537
0               1.257447
1               1.462050
2               0.501282
3               0.719404
4              -3.435658
...                  ...
2446            1.185510
2447            0.863773
2448           -1.548593
2449            0.043542
2450           -1.473352

[2451 rows x 1 columns]

In [18]:
grouped = one_data.groupby('timestamp')

In [19]:
for date, group in grouped:
#     date_format = pd.to_datetime(date).date()
    display(group)
#     assert DataAPI.is_trading_day(date), f"{date} is not a trading date!"
#     file_name = datetime.date.strftime(date_format, '%Y%m%d') + '.csv'
#     folder = os.path.join(output_path, output_name, str(date_format.year))
#     if not os.path.exists(folder):
#         os.makedirs(folder)
#     file = os.path.join(folder, file_name)
#     group.to_csv(file, sep=',', mode='w', header=False, encoding='utf-8')
# return None

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-02-22 09:30:00 000001                             -1.445096
                    000004                             -1.384286
                    000005                             -1.366422
                    000006                             -1.369831
                    000008                             -1.395631
...                                                          ...
                    603988                             -1.361174
                    603989                             -1.362920
                    603993                             -1.362880
                    603997                             -1.362943
                    603998                             -1.364502

[2460 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-02-23 09:30:00 000001                             -0.770037
                    000004                             -0.751203
                    000005                             -0.725627
                    000006                             -0.787299
                    000008                             -0.751950
...                                                          ...
                    603988                             -0.738824
                    603989                             -0.733289
                    603993                             -0.737755
                    603997                             -0.737883
                    603998                             -0.738624

[2478 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-02-24 09:30:00 000001                              4.706177
                    000004                              4.615146
                    000005                              4.612721
                    000006                              4.631608
                    000008                              4.635872
...                                                          ...
                    603988                              4.607335
                    603989                              4.609587
                    603993                              4.607631
                    603997                              4.607791
                    603998                              4.608889

[2485 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-02-25 09:30:00 000001                              2.921405
                    000004                              2.887916
                    000005                              2.886024
                    000006                              2.882222
                    000008                              2.891306
...                                                          ...
                    603988                              2.886173
                    603989                              2.884122
                    603993                              2.885560
                    603997                              2.885585
                    603998                              2.885585

[2490 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-02-26 09:30:00 000001                              3.029739
                    000004                              3.022325
                    000005                              3.025234
                    000006                              3.034197
                    000008                              3.024210
...                                                          ...
                    603988                              3.019806
                    603989                              3.018039
                    603993                              3.019129
                    603997                              3.019022
                    603998                              3.019738

[2498 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-02-29 09:30:00 000001                             -0.449245
                    000004                             -0.454779
                    000005                             -0.456141
                    000006                             -0.444850
                    000008                             -0.454102
...                                                          ...
                    603988                             -0.453810
                    603989                             -0.453910
                    603993                             -0.454052
                    603997                             -0.454220
                    603998                             -0.453870

[2506 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-01 09:30:00 000001                             -0.280753
                    000004                             -0.258927
                    000005                             -0.255449
                    000006                             -0.266105
                    000008                             -0.261004
...                                                          ...
                    603988                             -0.255098
                    603989                             -0.255119
                    603993                             -0.254856
                    603997                             -0.254852
                    603998                             -0.255113

[2508 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-02 09:30:00 000001                             -0.349547
                    000004                             -0.324601
                    000005                             -0.320231
                    000006                             -0.338626
                    000008                             -0.328845
...                                                          ...
                    603988                             -0.319870
                    603989                             -0.319635
                    603993                             -0.319526
                    603997                             -0.319470
                    603998                             -0.319658

[2514 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-03 09:30:00 000001                             -0.339066
                    000004                             -0.327278
                    000005                             -0.323975
                    000006                             -0.295342
                    000008                             -0.321318
...                                                          ...
                    603988                             -0.323317
                    603989                             -0.323146
                    603993                             -0.322978
                    603997                             -0.322913
                    603998                             -0.323127

[2517 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-04 09:30:00 000001                             -0.645360
                    000004                             -0.684469
                    000005                             -0.683269
                    000006                             -0.434584
                    000008                             -0.677934
...                                                          ...
                    603988                             -0.685070
                    603989                             -0.684668
                    603993                             -0.684709
                    603997                             -0.684758
                    603998                             -0.684837

[2520 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-07 09:30:00 000001                             -0.422322
                    000004                             -0.720052
                    000005                             -0.718781
                    000006                             -0.262806
                    000008                             -0.699421
...                                                          ...
                    603988                             -0.704179
                    603989                             -0.722767
                    603993                             -0.722726
                    603997                             -0.722656
                    603998                             -0.722755

[2524 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-08 09:30:00 000001                             -0.295318
                    000004                             -0.303435
                    000005                             -0.301354
                    000006                             -0.305991
                    000008                             -0.306151
...                                                          ...
                    603988                             -0.294318
                    603989                             -0.299212
                    603993                             -0.299104
                    603997                             -0.299146
                    603998                             -0.299476

[2526 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-09 09:30:00 000001                             -0.256981
                    000004                             -0.226741
                    000005                             -0.223010
                    000006                             -0.216374
                    000008                             -0.229111
...                                                          ...
                    603988                             -0.219034
                    603989                             -0.222067
                    603993                             -0.221863
                    603997                             -0.221930
                    603998                             -0.222239

[2535 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-10 09:30:00 000001                             -0.207810
                    000004                             -0.243278
                    000005                             -0.240481
                    000006                             -0.184110
                    000008                             -0.243906
...                                                          ...
                    603988                             -0.238510
                    603989                             -0.241163
                    603993                             -0.240725
                    603997                             -0.240925
                    603998                             -0.241065

[2540 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-11 09:30:00 000001                             -0.358821
                    000004                             -0.365141
                    000005                             -0.361947
                    000006                             -0.363995
                    000008                             -0.255664
...                                                          ...
                    603988                             -0.358861
                    603989                             -0.361579
                    603993                             -0.361206
                    603997                             -0.361381
                    603998                             -0.361359

[2542 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-14 09:30:00 000001                              0.070674
                    000004                              0.099447
                    000005                              0.102573
                    000006                              0.085430
                    000008                              0.107105
...                                                          ...
                    603988                              0.103238
                    603989                              0.104180
                    603993                              0.104478
                    603997                              0.104380
                    603998                              0.104235

[2550 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-15 09:30:00 000001                              0.153068
                    000004                              0.168692
                    000005                              0.166768
                    000006                              0.136184
                    000008                              0.170602
...                                                          ...
                    603988                              0.167382
                    603989                              0.168237
                    603993                              0.168507
                    603997                              0.169182
                    603998                              0.168340

[2552 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-16 09:30:00 000001                             -0.517757
                    000004                             -0.479988
                    000005                             -0.479911
                    000006                             -0.538459
                    000008                             -0.486594
...                                                          ...
                    603988                             -0.480430
                    603989                             -0.477971
                    603993                             -0.478670
                    603997                             -0.477420
                    603998                             -0.478796

[2552 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-17 09:30:00 000001                             -0.166310
                    000004                             -0.115207
                    000005                             -0.142293
                    000006                             -0.184752
                    000008                             -0.148999
...                                                          ...
                    603988                             -0.142280
                    603989                             -0.140488
                    603993                             -0.140505
                    603997                             -0.139284
                    603998                             -0.140627

[2560 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-18 09:30:00 000001                              2.241324
                    000004                              2.229747
                    000005                              2.217295
                    000006                              2.224501
                    000008                              2.218286
...                                                          ...
                    603988                              2.219876
                    603989                              2.218642
                    603993                              2.219300
                    603997                              2.220167
                    603998                              2.218890

[2561 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-21 09:30:00 000001                             -0.387292
                    000004                             -0.364085
                    000005                             -0.363764
                    000006                             -0.407850
                    000008                             -0.365442
...                                                          ...
                    603988                             -0.363920
                    603989                             -0.362263
                    603993                             -0.362261
                    603997                             -0.362389
                    603998                             -0.362146

[2561 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-22 09:30:00 000001                             -0.474172
                    000004                             -0.473551
                    000005                             -0.473183
                    000006                             -0.511012
                    000008                             -0.459629
...                                                          ...
                    603988                             -0.474430
                    603989                             -0.473092
                    603993                             -0.473142
                    603997                             -0.473215
                    603998                             -0.472655

[2561 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-23 09:30:00 000001                             -0.409646
                    000004                             -0.482384
                    000005                             -0.484489
                    000006                             -0.533281
                    000008                             -0.477734
...                                                          ...
                    603988                             -0.485653
                    603989                             -0.484105
                    603993                             -0.484136
                    603997                             -0.484240
                    603998                             -0.483696

[2561 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-24 09:30:00 000001                             -0.218462
                    000004                             -0.212513
                    000005                             -0.213649
                    000006                             -0.259157
                    000008                             -0.217192
...                                                          ...
                    603988                             -0.214024
                    603989                             -0.212849
                    603993                             -0.212552
                    603997                             -0.212742
                    603998                             -0.212262

[2566 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-25 09:30:00 000001                              0.197263
                    000004                              0.085372
                    000005                              0.070111
                    000006                              0.041471
                    000008                              0.072337
...                                                          ...
                    603988                              0.071171
                    603989                              0.070728
                    603993                              0.071022
                    603997                              0.082118
                    603998                              0.071536

[2569 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-28 09:30:00 000001                             -0.293022
                    000004                             -0.292322
                    000005                             -0.295613
                    000006                             -0.341993
                    000008                             -0.304404
...                                                          ...
                    603988                             -0.296115
                    603989                             -0.294579
                    603993                             -0.294582
                    603997                             -0.290289
                    603998                             -0.293441

[2569 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-29 09:30:00 000001                             -0.028982
                    000004                             -0.010890
                    000005                             -0.020827
                    000006                             -0.066170
                    000008                              0.057209
...                                                          ...
                    603988                             -0.020977
                    603989                             -0.019389
                    603993                             -0.019329
                    603997                             -0.016398
                    603998                             -0.010053

[2570 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-30 09:30:00 000001                             -0.425137
                    000004                             -0.410805
                    000005                             -0.413789
                    000006                             -0.462078
                    000008                             -0.368580
...                                                          ...
                    603988                             -0.415261
                    603989                             -0.413478
                    603993                             -0.413456
                    603997                             -0.412663
                    603998                             -0.412215

[2573 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-03-31 09:30:00 000001                             -0.163574
                    000004                             -0.103748
                    000005                             -0.104619
                    000006                             -0.147935
                    000008                             -0.104467
...                                                          ...
                    603988                             -0.104301
                    603989                             -0.103270
                    603993                             -0.103144
                    603997                             -0.103557
                    603998                             -0.099603

[2574 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-01 09:30:00 000001                             -0.367350
                    000004                             -0.350163
                    000005                             -0.350681
                    000006                             -0.398027
                    000008                             -0.341520
...                                                          ...
                    603988                             -0.350830
                    603989                             -0.349036
                    603993                             -0.349190
                    603997                             -0.350012
                    603998                             -0.345370

[2576 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-05 09:30:00 000001                             -0.490111
                    000004                             -0.451297
                    000005                             -0.452193
                    000006                             -0.501807
                    000008                             -0.439901
...                                                          ...
                    603988                             -0.452580
                    603989                             -0.450964
                    603993                             -0.450870
                    603997                             -0.451762
                    603998                             -0.449394

[2575 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-06 09:30:00 000001                             -0.315717
                    000004                             -0.262752
                    000005                             -0.278421
                    000006                             -0.326716
                    000008                             -0.257343
...                                                          ...
                    603988                             -0.273578
                    603989                             -0.274094
                    603993                             -0.274123
                    603997                             -0.274817
                    603998                             -0.271584

[2576 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-07 09:30:00 000001                             -0.527023
                    000004                             -0.452218
                    000005                             -0.458435
                    000006                             -0.493507
                    000008                             -0.468413
...                                                          ...
                    603988                             -0.458591
                    603989                             -0.461034
                    603993                             -0.461574
                    603997                             -0.462565
                    603998                             -0.459187

[2578 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-08 09:30:00 000001                              0.551126
                    000004                              0.688772
                    000005                              0.652520
                    000006                              0.712616
                    000008                              0.659454
...                                                          ...
                    603988                              0.663342
                    603989                              0.649572
                    603993                              0.648375
                    603997                              0.647039
                    603998                              0.674528

[2585 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-11 09:30:00 000001                             -0.196170
                    000004                             -0.137696
                    000005                             -0.130816
                    000006                             -0.208118
                    000008                             -0.164259
...                                                          ...
                    603988                             -0.132268
                    603989                             -0.129039
                    603993                             -0.128649
                    603997                             -0.130288
                    603998                             -0.131389

[2587 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-12 09:30:00 000001                             -0.733918
                    000004                             -0.659273
                    000005                             -0.662925
                    000006                             -0.759078
                    000008                             -0.697720
...                                                          ...
                    603988                             -0.666767
                    603989                             -0.662460
                    603993                             -0.662886
                    603997                             -0.664148
                    603998                             -0.663079

[2584 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-13 09:30:00 000001                             -0.224335
                    000004                             -0.048027
                    000005                             -0.071753
                    000006                             -0.128486
                    000008                             -0.090645
...                                                          ...
                    603988                             -0.075661
                    603989                             -0.071618
                    603993                             -0.071761
                    603997                             -0.072790
                    603998                             -0.065308

[2588 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-14 09:30:00 000001                              1.265660
                    000004                              0.992529
                    000005                              0.943208
                    000006                              0.898417
                    000008                              0.847914
...                                                          ...
                    603988                              0.942589
                    603989                              0.942731
                    603993                              0.943481
                    603997                              0.942199
                    603998                              0.958003

[2590 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-15 09:30:00 000001                              0.321397
                    000004                              0.381076
                    000005                              0.392995
                    000006                              0.326176
                    000008                              0.371092
...                                                          ...
                    603988                              0.392405
                    603989                              0.394704
                    603993                              0.395035
                    603997                              0.392989
                    603998                              0.390306

[2592 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-18 09:30:00 000001                              2.593531
                    000004                              2.630810
                    000005                              2.634572
                    000006                              2.650505
                    000008                              2.641965
...                                                          ...
                    603988                              2.632737
                    603989                              2.639577
                    603993                              2.635059
                    603997                              2.632750
                    603998                              2.630222

[2591 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-19 09:30:00 000001                              2.467621
                    000004                              2.518621
                    000005                              2.513083
                    000006                              2.485162
                    000008                              2.519908
...                                                          ...
                    603988                              2.553297
                    603989                              2.511281
                    603993                              2.512223
                    603997                              2.511466
                    603998                              2.510788

[2596 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-20 09:30:00 000001                              1.220380
                    000004                              1.240847
                    000005                              1.242402
                    000006                              1.199041
                    000008                              1.229306
...                                                          ...
                    603989                              1.241872
                    603993                              1.242883
                    603997                              1.241937
                    603998                              1.241093
                    603999                              1.242392

[2597 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-21 09:30:00 000001                              0.131047
                    000004                              0.169733
                    000005                              0.144896
                    000006                              0.073535
                    000008                              0.120268
...                                                          ...
                    603989                              0.145539
                    603993                              0.146062
                    603997                              0.145000
                    603998                              0.161560
                    603999                              0.146426

[2598 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-22 09:30:00 000001                             -0.525391
                    000004                             -0.508171
                    000005                             -0.494724
                    000006                             -0.514066
                    000008                             -0.522464
...                                                          ...
                    603989                             -0.494552
                    603993                             -0.494459
                    603997                             -0.495775
                    603998                             -0.497094
                    603999                             -0.494449

[2599 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-25 09:30:00 000001                             -0.614634
                    000004                             -0.598045
                    000005                             -0.585682
                    000006                             -0.596411
                    000008                             -0.607157
...                                                          ...
                    603989                             -0.585459
                    603993                             -0.585519
                    603997                             -0.586901
                    603998                             -0.588368
                    603999                             -0.585493

[2602 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-26 09:30:00 000001                             -0.679613
                    000004                             -0.654605
                    000005                             -0.645357
                    000006                             -0.646881
                    000008                             -0.665488
...                                                          ...
                    603989                             -0.645100
                    603993                             -0.645100
                    603997                             -0.646460
                    603998                             -0.648082
                    603999                             -0.645105

[2601 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-27 09:30:00 000001                             -0.905827
                    000004                             -0.877297
                    000005                             -0.873169
                    000006                             -0.876499
                    000008                             -0.895205
...                                                          ...
                    603989                             -0.872724
                    603993                             -0.872657
                    603997                             -0.873852
                    603998                             -0.875956
                    603999                             -0.872648

[2601 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-28 09:30:00 000001                             -1.100666
                    000004                             -1.071818
                    000005                             -1.079769
                    000006                             -1.084061
                    000008                             -1.027526
...                                                          ...
                    603989                             -1.078834
                    603993                             -1.079398
                    603997                             -1.080512
                    603998                             -1.082110
                    603999                             -1.078920

[2602 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-04-29 09:30:00 000001                             -0.691673
                    000004                             -0.700472
                    000005                             -0.729931
                    000006                             -0.731316
                    000008                             -0.694264
...                                                          ...
                    603989                             -0.727010
                    603993                             -0.729465
                    603997                             -0.730493
                    603998                             -0.732263
                    603999                             -0.729569

[2602 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-03 09:30:00 000001                              0.335963
                    000004                              0.422466
                    000005                              0.426325
                    000006                              0.426619
                    000008                              0.411239
...                                                          ...
                    603993                              0.426329
                    603996                              0.427451
                    603997                              0.424620
                    603998                              0.418148
                    603999                              0.425505

[2599 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-04 09:30:00 000001                              0.377140
                    000004                              0.569879
                    000005                              0.525925
                    000006                              0.523576
                    000008                              0.513531
...                                                          ...
                    603993                              0.527343
                    603996                              0.526857
                    603997                              0.525683
                    603998                              0.562364
                    603999                              0.525849

[2595 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-05 09:30:00 000001                             -1.468507
                    000004                             -1.466746
                    000005                             -1.517261
                    000006                             -1.514449
                    000008                             -1.535348
...                                                          ...
                    603993                             -1.524799
                    603996                             -1.512234
                    603997                             -1.524204
                    603998                             -1.459048
                    603999                             -1.517338

[2595 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-06 09:30:00 000001                             -0.097084
                    000004                             -0.050712
                    000005                             -0.062539
                    000006                             -0.071036
                    000008                             -0.065585
...                                                          ...
                    603993                             -0.062306
                    603996                             -0.061308
                    603997                             -0.063717
                    603998                             -0.032479
                    603999                             -0.062587

[2598 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-09 09:30:00 000001                             -0.601270
                    000004                             -0.541955
                    000005                             -0.578837
                    000006                             -0.587939
                    000008                             -0.590814
...                                                          ...
                    603993                             -0.577716
                    603996                             -0.553749
                    603997                             -0.579151
                    603998                             -0.087095
                    603999                             -0.575667

[2599 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-10 09:30:00 000001                             -0.618993
                    000004                             -0.643682
                    000005                             -0.622484
                    000006                             -0.623680
                    000008                             -0.648753
...                                                          ...
                    603993                             -0.621718
                    603996                             -0.624260
                    603997                             -0.622544
                    603998                             -0.636418
                    603999                             -0.622420

[2600 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-11 09:30:00 000001                             -0.632682
                    000004                             -0.671455
                    000005                             -0.650238
                    000006                             -0.644681
                    000008                             -0.680274
...                                                          ...
                    603993                             -0.650248
                    603996                             -0.652083
                    603997                             -0.650673
                    603998                             -0.674225
                    603999                             -0.651044

[2602 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-12 09:30:00 000001                             -0.665416
                    000004                             -0.696293
                    000005                             -0.679217
                    000006                             -0.675162
                    000008                             -0.705430
...                                                          ...
                    603993                             -0.679045
                    603996                             -0.681015
                    603997                             -0.679277
                    603998                             -0.701872
                    603999                             -0.679810

[2613 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-13 09:30:00 000001                             -0.428243
                    000004                             -0.435217
                    000005                             -0.416085
                    000006                             -0.411172
                    000008                             -0.417492
...                                                          ...
                    603993                             -0.415290
                    603996                             -0.417439
                    603997                             -0.415481
                    603998                             -0.440274
                    603999                             -0.415902

[2613 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-16 09:30:00 000001                             -0.447748
                    000004                             -0.445971
                    000005                             -0.434268
                    000006                             -0.429652
                    000008                             -0.381172
...                                                          ...
                    603993                             -0.431778
                    603996                             -0.433768
                    603997                             -0.431934
                    603998                             -0.456690
                    603999                             -0.432380

[2616 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-17 09:30:00 000001                              0.268075
                    000004                              0.289600
                    000005                              0.246124
                    000006                              0.302350
                    000008                              0.553004
...                                                          ...
                    603993                              0.250802
                    603996                              0.275467
                    603997                              0.250988
                    603998                              0.242581
                    603999                              0.250398

[2618 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-18 09:30:00 000001                              2.802640
                    000004                              2.833019
                    000005                              2.837226
                    000006                              2.845709
                    000008                              2.875647
...                                                          ...
                    603993                              2.832532
                    603996                              2.828257
                    603997                              2.832118
                    603998                              2.831479
                    603999                              2.831242

[2619 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-19 09:30:00 000001                             -0.633491
                    000004                             -0.638697
                    000005                             -0.637516
                    000006                             -0.649038
                    000008                             -0.514547
...                                                          ...
                    603993                             -0.639569
                    603996                             -0.645651
                    603997                             -0.639668
                    603998                             -0.665354
                    603999                             -0.640061

[2620 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-20 09:30:00 000001                             -0.802385
                    000004                             -0.789818
                    000005                             -0.801163
                    000006                             -0.785873
                    000008                             -0.698608
...                                                          ...
                    603993                             -0.806192
                    603996                             -0.811636
                    603997                             -0.806226
                    603998                             -0.822605
                    603999                             -0.806476

[2621 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-23 09:30:00 000001                             -0.969355
                    000004                             -0.914670
                    000005                             -0.955679
                    000006                             -0.940620
                    000008                             -0.858542
...                                                          ...
                    603993                             -0.959351
                    603996                             -0.913419
                    603997                             -0.959432
                    603998                             -0.975190
                    603999                             -0.959259

[2623 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-24 09:30:00 000001                             -0.828653
                    000004                             -0.812097
                    000005                             -0.819711
                    000006                             -0.815640
                    000008                             -0.862268
...                                                          ...
                    603993                             -0.820004
                    603996                             -0.762485
                    603997                             -0.819869
                    603998                             -0.844513
                    603999                             -0.819639

[2625 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-25 09:30:00 000001                             -0.721839
                    000004                             -0.718608
                    000005                             -0.753609
                    000006                             -0.747575
                    000008                             -0.497637
...                                                          ...
                    603993                             -0.752133
                    603996                             -0.705740
                    603997                             -0.752208
                    603998                             -0.777326
                    603999                             -0.752363

[2630 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-26 09:30:00 000001                             -0.782463
                    000004                             -0.740565
                    000005                             -0.807634
                    000006                             -0.810120
                    000008                             -0.665774
...                                                          ...
                    603993                             -0.806160
                    603996                             -0.794115
                    603997                             -0.806333
                    603998                             -0.831113
                    603999                             -0.806118

[2632 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-27 09:30:00 000001                             -0.895655
                    000004                             -0.871791
                    000005                             -0.895170
                    000006                             -0.894379
                    000008                             -0.895865
...                                                          ...
                    603993                             -0.892300
                    603996                             -0.904612
                    603997                             -0.895484
                    603998                             -0.920170
                    603999                             -0.895473

[2633 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-30 09:30:00 000001                             -0.879008
                    000004                             -0.816108
                    000005                             -0.863641
                    000006                             -0.944018
                    000008                             -0.892821
...                                                          ...
                    603993                             -0.855964
                    603996                             -0.852733
                    603997                             -0.862137
                    603998                             -0.885631
                    603999                             -0.859574

[2632 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-05-31 09:30:00 000001                             -0.602220
                    000004                             -0.554095
                    000005                             -0.577063
                    000006                             -0.621794
                    000008                             -0.622087
...                                                          ...
                    603993                             -0.575400
                    603996                             -0.573141
                    603997                             -0.577547
                    603998                             -0.601850
                    603999                             -0.577921

[2631 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-01 09:30:00 000001                              3.162526
                    000004                              3.117335
                    000005                              3.111642
                    000006                              3.094613
                    000008                              3.089449
...                                                          ...
                    603993                              3.114144
                    603996                              3.122086
                    603997                              3.113084
                    603998                              3.096204
                    603999                              3.112790

[2631 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-02 09:30:00 000001                             -0.228119
                    000004                             -0.308579
                    000005                             -0.280975
                    000006                             -0.279488
                    000008                             -0.344260
...                                                          ...
                    603993                             -0.283155
                    603996                             -0.292463
                    603997                             -0.282846
                    603998                             -0.298946
                    603999                             -0.281271

[2632 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-03 09:30:00 000001                             -0.020502
                    000004                             -0.039643
                    000005                             -0.013825
                    000006                             -0.016803
                    000008                             -0.075287
...                                                          ...
                    603993                             -0.012535
                    603996                             -0.024013
                    603997                             -0.013464
                    603998                             -0.033153
                    603999                             -0.012241

[2633 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-06 09:30:00 000001                              0.325450
                    000004                              0.314784
                    000005                              0.340466
                    000006                              0.339687
                    000008                              0.280729
...                                                          ...
                    603993                              0.340956
                    603996                              0.340301
                    603997                              0.340823
                    603998                              0.318506
                    603999                              0.342137

[2637 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-07 09:30:00 000001                              0.148686
                    000004                              0.140245
                    000005                              0.163157
                    000006                              0.159236
                    000008                              0.106238
...                                                          ...
                    603993                              0.164049
                    603996                              0.158245
                    603997                              0.164225
                    603998                              0.141414
                    603999                              0.163718

[2640 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-08 09:30:00 000001                              0.253699
                    000004                              0.252771
                    000005                              0.269854
                    000006                              0.263394
                    000008                              0.225476
...                                                          ...
                    603993                              0.270559
                    603996                              0.265238
                    603997                              0.270789
                    603998                              0.249170
                    603999                              0.269758

[2638 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-13 09:30:00 000001                             -0.194442
                    000004                             -0.189032
                    000005                             -0.178918
                    000006                             -0.170398
                    000008                             -0.119060
...                                                          ...
                    603993                             -0.177861
                    603996                             -0.189176
                    603997                             -0.177530
                    603998                             -0.199522
                    603999                             -0.178857

[2637 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-14 09:30:00 000001                             -0.144686
                    000004                             -0.170622
                    000005                             -0.148687
                    000006                             -0.145672
                    000008                             -0.195174
...                                                          ...
                    603993                             -0.149438
                    603996                             -0.153446
                    603997                             -0.148945
                    603998                             -0.171083
                    603999                             -0.148635

[2637 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-15 09:30:00 000001                              0.054907
                    000004                              0.029614
                    000005                              0.058073
                    000006                              0.066813
                    000008                              0.018220
...                                                          ...
                    603993                              0.060575
                    603996                              0.053509
                    603997                              0.061112
                    603998                              0.039269
                    603999                              0.061829

[2636 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-16 09:30:00 000001                             -0.099166
                    000004                             -0.109419
                    000005                             -0.068894
                    000006                             -0.081863
                    000008                             -0.127792
...                                                          ...
                    603993                             -0.085614
                    603996                             -0.093218
                    603997                             -0.084949
                    603998                             -0.107170
                    603999                             -0.084174

[2639 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-17 09:30:00 000001                             -0.025350
                    000004                             -0.031437
                    000005                              0.002145
                    000006                             -0.012605
                    000008                             -0.051834
...                                                          ...
                    603993                             -0.006739
                    603996                             -0.014574
                    603997                             -0.006420
                    603998                             -0.029112
                    603999                             -0.007152

[2643 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-20 09:30:00 000001                             -0.293332
                    000004                             -0.304998
                    000005                             -0.283707
                    000006                             -0.291387
                    000008                             -0.343523
...                                                          ...
                    603993                             -0.288268
                    603996                             -0.298935
                    603997                             -0.288028
                    603998                             -0.308718
                    603999                             -0.288829

[2647 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-21 09:30:00 000001                             -0.769596
                    000004                             -0.733003
                    000005                             -0.749178
                    000006                             -0.724725
                    000008                             -0.806994
...                                                          ...
                    603993                             -0.753078
                    603996                             -0.762566
                    603997                             -0.752851
                    603998                             -0.773292
                    603999                             -0.750664

[2647 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-22 09:30:00 000001                             -0.046869
                    000004                             -0.049151
                    000005                             -0.056015
                    000006                             -0.049215
                    000008                              0.183759
...                                                          ...
                    603993                             -0.054856
                    603996                             -0.063852
                    603997                             -0.054580
                    603998                             -0.057812
                    603999                             -0.048779

[2648 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-23 09:30:00 000001                             -0.297231
                    000004                             -0.281693
                    000005                             -0.271770
                    000006                             -0.311029
                    000008                              0.899950
...                                                          ...
                    603993                             -0.283407
                    603996                             -0.288569
                    603997                             -0.283158
                    603998                             -0.286423
                    603999                             -0.282674

[2653 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-24 09:30:00 000001                             -0.671325
                    000004                             -0.640478
                    000005                             -0.655569
                    000006                             -0.633717
                    000008                              0.031800
...                                                          ...
                    603993                             -0.660604
                    603996                             -0.672686
                    603997                             -0.659676
                    603998                             -0.663225
                    603999                             -0.661385

[2658 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-27 09:30:00 000001                             -0.596567
                    000004                             -0.527620
                    000005                             -0.581964
                    000006                             -0.576312
                    000008                             -0.118144
...                                                          ...
                    603993                             -0.583405
                    603996                             -0.581063
                    603997                             -0.583159
                    603998                             -0.584863
                    603999                             -0.584251

[2657 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-28 09:30:00 000001                              3.321760
                    000004                              3.303961
                    000005                              3.291798
                    000006                              3.289082
                    000008                              3.338011
...                                                          ...
                    603993                              3.293473
                    603996                              3.301586
                    603997                              3.292921
                    603998                              3.291317
                    603999                              3.292994

[2658 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-29 09:30:00 000001                             -0.256732
                    000004                             -0.271640
                    000005                             -0.251233
                    000006                             -0.249240
                    000008                             -0.368664
...                                                          ...
                    603993                             -0.249362
                    603996                             -0.259138
                    603997                             -0.248336
                    603998                             -0.247905
                    603999                             -0.249662

[2654 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-06-30 09:30:00 000001                             -0.020153
                    000004                             -0.032814
                    000005                             -0.010538
                    000006                             -0.010206
                    000008                             -0.124548
...                                                          ...
                    603993                             -0.008362
                    603996                             -0.016823
                    603997                             -0.007848
                    603998                             -0.006711
                    603999                             -0.008683

[2658 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-01 09:30:00 000001                             -0.154901
                    000004                             -0.188709
                    000005                             -0.167984
                    000006                             -0.166636
                    000008                             -0.277166
...                                                          ...
                    603993                             -0.165821
                    603996                             -0.176468
                    603997                             -0.165225
                    603998                             -0.164987
                    603999                             -0.166214

[2658 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-04 09:30:00 000001                             -0.349415
                    000004                             -0.373548
                    000005                             -0.365469
                    000006                             -0.365401
                    000008                             -0.474833
...                                                          ...
                    603993                             -0.364059
                    603996                             -0.374027
                    603997                             -0.363451
                    603998                             -0.360114
                    603999                             -0.364617

[2661 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-05 09:30:00 000001                             -0.281057
                    000004                             -0.299773
                    000005                             -0.303710
                    000006                             -0.313501
                    000008                             -0.412738
...                                                          ...
                    603993                             -0.302433
                    603996                             -0.310441
                    603997                             -0.301717
                    603998                             -0.300321
                    603999                             -0.302912

[2664 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-06 09:30:00 000001                             -0.568524
                    000004                             -0.599568
                    000005                             -0.605822
                    000006                             -0.571371
                    000008                             -0.723838
...                                                          ...
                    603993                             -0.604104
                    603996                             -0.611867
                    603997                             -0.603520
                    603998                             -0.594337
                    603999                             -0.594765

[2662 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-07 09:30:00 000001                             -0.493123
                    000004                             -0.478010
                    000005                             -0.494185
                    000006                             -0.319362
                    000008                             -0.624351
...                                                          ...
                    603993                             -0.494201
                    603996                             -0.482321
                    603997                             -0.493827
                    603998                             -0.452800
                    603999                             -0.466312

[2662 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-08 09:30:00 000001                             -0.483824
                    000004                             -0.418164
                    000005                             -0.478318
                    000006                             -0.490781
                    000008                             -0.586415
...                                                          ...
                    603993                             -0.471161
                    603996                             -0.464730
                    603997                             -0.476888
                    603998                             -0.415929
                    603999                             -0.431698

[2660 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-11 09:30:00 000001                              2.967583
                    000004                              3.011908
                    000005                              3.012942
                    000006                              3.017791
                    000008                              2.907022
...                                                          ...
                    603993                              3.012825
                    603996                              3.012863
                    603997                              3.012550
                    603998                              3.017861
                    603999                              3.014564

[2660 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-12 09:30:00 000001                              0.176078
                    000004                              0.179378
                    000005                              0.190593
                    000006                              0.186076
                    000008                              0.098112
...                                                          ...
                    603993                              0.191952
                    603996                              0.187977
                    603997                              0.192441
                    603998                              0.196053
                    603999                              0.189974

[2657 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-13 09:30:00 000001                             -0.606291
                    000004                             -0.567541
                    000005                             -0.577017
                    000006                             -0.581797
                    000008                             -0.662946
...                                                          ...
                    603993                             -0.575150
                    603996                             -0.568967
                    603997                             -0.574928
                    603998                             -0.574907
                    603999                             -0.577256

[2654 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-14 09:30:00 000001                              1.157810
                    000004                              0.436237
                    000005                              0.398984
                    000006                              0.408392
                    000008                              0.292521
...                                                          ...
                    603993                              0.398671
                    603996                              0.408287
                    603997                              0.399524
                    603998                              0.406368
                    603999                              0.404765

[2658 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-15 09:30:00 000001                              0.373815
                    000004                              0.398386
                    000005                              0.417928
                    000006                              0.409828
                    000008                              0.314623
...                                                          ...
                    603993                              0.419109
                    603996                              0.414770
                    603997                              0.419364
                    603998                              0.414060
                    603999                              0.416043

[2657 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-18 09:30:00 000001                              0.398936
                    000004                              0.432734
                    000005                              0.451724
                    000006                              0.443532
                    000008                              0.349961
...                                                          ...
                    603993                              0.452949
                    603996                              0.448622
                    603997                              0.453160
                    603998                              0.447811
                    603999                              0.450002

[2657 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-19 09:30:00 000001                             -0.206388
                    000004                             -0.231803
                    000005                             -0.223727
                    000006                             -0.237587
                    000008                             -0.327229
...                                                          ...
                    603993                             -0.225335
                    603996                             -0.228813
                    603997                             -0.225113
                    603998                             -0.231043
                    603999                             -0.227534

[2654 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-20 09:30:00 000001                              0.208440
                    000004                              0.241264
                    000005                              0.237835
                    000006                              0.225195
                    000008                              0.141744
...                                                          ...
                    603993                              0.236854
                    603996                              0.233074
                    603997                              0.237350
                    603998                              0.231307
                    603999                              0.235587

[2655 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-21 09:30:00 000001                             -0.756600
                    000004                             -0.842423
                    000005                             -0.866435
                    000006                             -0.876315
                    000008                             -0.955502
...                                                          ...
                    603993                             -0.869903
                    603996                             -0.873966
                    603997                             -0.869606
                    603998                             -0.876223
                    603999                             -0.872950

[2653 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-22 09:30:00 000001                             -0.588576
                    000004                             -0.580303
                    000005                             -0.588812
                    000006                             -0.599028
                    000008                             -0.672233
...                                                          ...
                    603993                             -0.587580
                    603996                             -0.591759
                    603997                             -0.587316
                    603998                             -0.591740
                    603999                             -0.591142

[2656 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-25 09:30:00 000001                             -0.393677
                    000004                             -0.361890
                    000005                             -0.356508
                    000006                             -0.371702
                    000008                             -0.447640
...                                                          ...
                    603993                             -0.354651
                    603996                             -0.358974
                    603997                             -0.354437
                    603998                             -0.360217
                    603999                             -0.358318

[2659 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-26 09:30:00 000001                             -0.509875
                    000004                             -0.499499
                    000005                             -0.485786
                    000006                             -0.495742
                    000008                             -0.567146
...                                                          ...
                    603993                             -0.484238
                    603996                             -0.488169
                    603997                             -0.483963
                    603998                             -0.489741
                    603999                             -0.488185

[2658 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-27 09:30:00 000001                             -0.045094
                    000004                             -0.037118
                    000005                             -0.024055
                    000006                             -0.032065
                    000008                             -0.110033
...                                                          ...
                    603993                             -0.021888
                    603996                             -0.025690
                    603997                             -0.021681
                    603998                             -0.022452
                    603999                             -0.025389

[2659 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-28 09:30:00 000001                             -0.208420
                    000004                             -0.652310
                    000005                             -0.677443
                    000006                             -0.672022
                    000008                             -0.721900
...                                                          ...
                    603993                             -0.675668
                    603996                             -0.679713
                    603997                             -0.675355
                    603998                             -0.674749
                    603999                             -0.679171

[2661 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-07-29 09:30:00 000001                             -0.049660
                    000004                             -0.018756
                    000005                              0.007731
                    000006                              0.001845
                    000008                             -0.082273
...                                                          ...
                    603993                              0.008586
                    603996                              0.006554
                    603997                              0.008901
                    603998                              0.003370
                    603999                              0.006058

[2662 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-01 09:30:00 000001                             -0.159713
                    000004                             -0.137899
                    000005                             -0.111818
                    000006                             -0.120601
                    000008                             -0.200115
...                                                          ...
                    603993                             -0.110766
                    603996                             -0.112343
                    603997                             -0.110485
                    603998                             -0.116700
                    603999                             -0.113536

[2660 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-02 09:30:00 000001                             -0.222668
                    000004                             -0.239771
                    000005                             -0.216826
                    000006                             -0.221022
                    000008                             -0.304270
...                                                          ...
                    603993                             -0.215731
                    603996                             -0.216991
                    603997                             -0.215474
                    603998                             -0.221798
                    603999                             -0.218508

[2665 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-03 09:30:00 000001                             -0.196854
                    000004                             -0.167018
                    000005                             -0.146863
                    000006                             -0.150805
                    000008                             -0.226254
...                                                          ...
                    603993                             -0.145657
                    603996                             -0.147125
                    603997                             -0.145464
                    603998                             -0.151666
                    603999                             -0.148618

[2665 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-04 09:30:00 000001                             -0.289391
                    000004                             -0.248813
                    000005                             -0.236362
                    000006                             -0.162999
                    000008                             -0.275515
...                                                          ...
                    603993                             -0.235694
                    603996                             -0.237799
                    603997                             -0.235498
                    603998                             -0.241969
                    603999                             -0.238928

[2666 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-05 09:30:00 000001                             -0.769716
                    000004                             -0.769390
                    000005                             -0.786668
                    000006                              0.506170
                    000008                             -0.799634
...                                                          ...
                    603993                             -0.786049
                    603996                             -0.787657
                    603997                             -0.785803
                    603998                             -0.793034
                    603999                             -0.789630

[2666 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-08 09:30:00 000001                              0.113735
                    000004                             -0.707248
                    000005                             -0.742424
                    000006                             -0.086764
                    000008                             -0.708878
...                                                          ...
                    603993                             -0.741558
                    603996                             -0.744047
                    603997                             -0.741296
                    603998                             -0.748539
                    603999                             -0.745759

[2666 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-09 09:30:00 000001                              1.732751
                    000004                              0.693286
                    000005                              0.405546
                    000006                              1.702435
                    000008                              0.549436
...                                                          ...
                    603993                              0.411180
                    603996                              0.409647
                    603997                              0.411478
                    603998                              0.411678
                    603999                              0.413974

[2667 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-10 09:30:00 000001                              0.075942
                    000004                              0.161278
                    000005                              0.165128
                    000006                              0.064160
                    000008                              0.160850
...                                                          ...
                    603993                              0.166315
                    603996                              0.162911
                    603997                              0.166505
                    603998                              0.164986
                    603999                              0.162154

[2672 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-11 09:30:00 000001                             -0.303356
                    000004                             -0.262948
                    000005                             -0.263053
                    000006                             -0.415374
                    000008                             -0.294852
...                                                          ...
                    603993                             -0.261942
                    603996                             -0.264353
                    603997                             -0.261740
                    603998                             -0.247094
                    603999                             -0.266345

[2669 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-12 09:30:00 000001                              0.070519
                    000004                              0.162286
                    000005                              0.166577
                    000006                              0.010094
                    000008                              0.135858
...                                                          ...
                    603993                              0.167684
                    603996                              0.163834
                    603997                              0.167718
                    603998                              0.171033
                    603999                              0.163405

[2673 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-15 09:30:00 000001                             -0.073700
                    000004                             -0.082794
                    000005                             -0.054514
                    000006                             -0.208745
                    000008                              0.038105
...                                                          ...
                    603993                             -0.053470
                    603996                             -0.056622
                    603997                             -0.053214
                    603998                             -0.061392
                    603999                             -0.058209

[2671 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-16 09:30:00 000001                              1.745116
                    000002                              0.303575
                    000004                             -0.224233
                    000005                             -0.205835
                    000006                             -0.158311
...                                                          ...
                    603993                             -0.208060
                    603996                             -0.210850
                    603997                             -0.207649
                    603998                             -0.216898
                    603999                             -0.212530

[2671 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-17 09:30:00 000001                              0.251071
                    000002                              1.222491
                    000004                             -0.303845
                    000005                             -0.287707
                    000006                             -0.194163
...                                                          ...
                    603993                             -0.290254
                    603996                             -0.291717
                    603997                             -0.289838
                    603998                             -0.300622
                    603999                             -0.293770

[2669 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-18 09:30:00 000001                              0.516398
                    000002                              0.950220
                    000004                              0.097124
                    000005                              0.083674
                    000006                              0.293516
...                                                          ...
                    603993                              0.074608
                    603996                              0.074392
                    603997                              0.074905
                    603998                              0.069944
                    603999                              0.073345

[2668 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-19 09:30:00 000001                             -0.908193
                    000002                              0.030784
                    000004                             -0.948482
                    000005                             -0.978613
                    000006                             -0.937765
...                                                          ...
                    603993                             -0.981471
                    603996                             -0.981060
                    603997                             -0.981561
                    603998                             -0.982281
                    603999                             -0.979703

[2669 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-22 09:30:00 000001                             -0.561959
                    000002                              0.004235
                    000004                             -0.843770
                    000005                             -0.923543
                    000006                             -1.580810
...                                                          ...
                    603993                             -0.922427
                    603996                             -0.924618
                    603997                             -0.922562
                    603998                             -0.924131
                    603999                             -0.922832

[2671 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-23 09:30:00 000001                             -0.872981
                    000002                             -0.157205
                    000004                             -0.908302
                    000005                             -1.023637
                    000006                             -0.972199
...                                                          ...
                    603993                             -1.021912
                    603996                             -1.022640
                    603997                             -1.021144
                    603998                             -1.025870
                    603999                             -1.020926

[2670 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-24 09:30:00 000001                             -0.716369
                    000002                             -0.377575
                    000004                             -0.641756
                    000005                             -0.577058
                    000006                             -0.667354
...                                                          ...
                    603993                             -0.575900
                    603996                             -0.575651
                    603997                             -0.576023
                    603998                             -0.580885
                    603999                             -0.576415

[2675 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-25 09:30:00 000001                             -0.672949
                    000002                             -0.362381
                    000004                             -0.549643
                    000005                             -0.547970
                    000006                             -0.632712
...                                                          ...
                    603993                             -0.546642
                    603996                             -0.546732
                    603997                             -0.546502
                    603998                             -0.554676
                    603999                             -0.547329

[2677 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-26 09:30:00 000001                             -1.006448
                    000002                             -0.206150
                    000004                             -0.955831
                    000005                             -0.979606
                    000006                             -0.618496
...                                                          ...
                    603993                             -0.974867
                    603996                             -0.977182
                    603997                             -0.974574
                    603998                             -0.983867
                    603999                             -0.976056

[2681 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-29 09:30:00 000001                             -0.674602
                    000002                             -0.310364
                    000004                             -0.436390
                    000005                             -0.473281
                    000006                             -0.494917
...                                                          ...
                    603993                             -0.465739
                    603996                             -0.469402
                    603997                             -0.465905
                    603998                             -0.475333
                    603999                             -0.465399

[2684 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-30 09:30:00 000001                             -0.605219
                    000002                             -0.325091
                    000004                             -0.315587
                    000005                             -0.309706
                    000006                             -0.472617
...                                                          ...
                    603993                             -0.303246
                    603996                             -0.306130
                    603997                             -0.302212
                    603998                             -0.292890
                    603999                             -0.297775

[2690 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-08-31 09:30:00 000001                             -1.115871
                    000002                             -0.372919
                    000004                             -1.258383
                    000005                             -1.285457
                    000006                             -1.158194
...                                                          ...
                    603993                             -1.275066
                    603996                             -1.281246
                    603997                             -1.274926
                    603998                             -1.272357
                    603999                             -1.272001

[2693 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-01 09:30:00 000001                             -0.927735
                    000002                             -0.485868
                    000004                             -1.030576
                    000005                             -1.048127
                    000006                             -1.039959
...                                                          ...
                    603993                             -1.042649
                    603996                             -1.006364
                    603997                             -1.040519
                    603998                             -1.046113
                    603999                             -1.043003

[2698 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-02 09:30:00 000001                             -0.358326
                    000002                             -0.252986
                    000004                              0.036355
                    000005                              0.061528
                    000006                             -0.364412
...                                                          ...
                    603993                              0.065506
                    603996                              0.073343
                    603997                              0.067550
                    603998                              0.055952
                    603999                              0.062797

[2699 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-05 09:30:00 000001                              0.333074
                    000002                             -0.392463
                    000004                              1.307406
                    000005                              1.426540
                    000006                              0.722633
...                                                          ...
                    603993                              1.426287
                    603996                              1.423020
                    603997                              1.426187
                    603998                              1.414643
                    603999                              1.422979

[2699 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-06 09:30:00 000001                             -0.943495
                    000002                             -0.406635
                    000004                             -0.981803
                    000005                             -0.946218
                    000006                             -0.902663
...                                                          ...
                    603993                             -0.946708
                    603996                             -0.950196
                    603997                             -0.946587
                    603998                             -0.942675
                    603999                             -0.950194

[2700 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-07 09:30:00 000001                             -0.473058
                    000002                             -0.400680
                    000004                             -0.154481
                    000005                             -0.176523
                    000006                             -0.420463
...                                                          ...
                    603993                             -0.175620
                    603996                             -0.177412
                    603997                             -0.176225
                    603998                             -0.144093
                    603999                             -0.179741

[2704 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-08 09:30:00 000001                             -1.115163
                    000002                             -0.419198
                    000004                             -1.416554
                    000005                             -1.389873
                    000006                             -1.287804
...                                                          ...
                    603993                             -1.413798
                    603996                             -1.417869
                    603997                             -1.412273
                    603998                             -1.405292
                    603999                             -1.416454

[2704 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-09 09:30:00 000001                             -1.134192
                    000002                             -0.450654
                    000004                             -1.444843
                    000005                             -1.456322
                    000006                             -1.297009
...                                                          ...
                    603993                             -1.455907
                    603996                             -1.449739
                    603997                             -1.456000
                    603998                             -1.444880
                    603999                             -1.457736

[2706 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-12 09:30:00 000001                             -0.575164
                    000002                             -0.452147
                    000004                             -0.329794
                    000005                             -0.372902
                    000006                             -0.578432
...                                                          ...
                    603993                             -0.361059
                    603996                             -0.359628
                    603997                             -0.360995
                    603998                             -0.361249
                    603999                             -0.363740

[2709 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-13 09:30:00 000001                              3.052561
                    000002                             -0.422154
                    000004                              4.328177
                    000005                              4.392702
                    000006                              3.614195
...                                                          ...
                    603993                              4.388924
                    603996                              4.390907
                    603997                              4.389739
                    603998                              4.385423
                    603999                              4.388377

[2709 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-14 09:30:00 000001                              2.495882
                    000002                             -0.430788
                    000004                              2.877787
                    000005                              2.900494
                    000006                              3.881415
...                                                          ...
                    603993                              2.900064
                    603996                              2.903880
                    603997                              2.900048
                    603998                              2.911109
                    603999                              2.900350

[2711 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-19 09:30:00 000001                             -0.397795
                    000002                             -0.418136
                    000004                             -0.316612
                    000005                             -0.267798
                    000006                             -0.093508
...                                                          ...
                    603993                             -0.266555
                    603996                             -0.267581
                    603997                             -0.266761
                    603998                             -0.266068
                    603999                             -0.267190

[2713 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-20 09:30:00 000001                             -0.004351
                    000002                             -0.407258
                    000004                              0.227702
                    000005                              0.279721
                    000006                              0.120193
...                                                          ...
                    603993                              0.281578
                    603996                              0.279786
                    603997                              0.281265
                    603998                              0.277119
                    603999                              0.280059

[2713 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-21 09:30:00 000001                              0.139236
                    000002                             -0.361410
                    000004                              0.453819
                    000005                              0.495487
                    000006                              0.226086
...                                                          ...
                    603993                              0.497029
                    603996                              0.494872
                    603997                              0.496680
                    603998                              0.498863
                    603999                              0.495344

[2712 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-22 09:30:00 000001                              0.516593
                    000002                             -0.475609
                    000004                              0.882622
                    000005                              0.917861
                    000006                              0.516512
...                                                          ...
                    603993                              0.920378
                    603996                              0.918019
                    603997                              0.919951
                    603998                              0.913436
                    603999                              0.918862

[2713 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-23 09:30:00 000001                              0.720449
                    000002                             -0.383795
                    000004                              1.120097
                    000005                              1.151744
                    000006                              0.695324
...                                                          ...
                    603993                              1.154254
                    603996                              1.151997
                    603997                              1.153815
                    603998                              1.146992
                    603999                              1.152743

[2710 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-26 09:30:00 000001                              0.513907
                    000002                             -0.328303
                    000005                              0.875422
                    000006                              0.505742
                    000007                              0.867605
...                                                          ...
                    603993                              0.877712
                    603996                              0.875653
                    603997                              0.877328
                    603998                              0.872194
                    603999                              0.876692

[2710 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-27 09:30:00 000001                             -0.027872
                    000002                             -0.375079
                    000005                              0.231401
                    000006                              0.045170
                    000007                              0.213917
...                                                          ...
                    603993                              0.232728
                    603996                              0.230713
                    603997                              0.232603
                    603998                              0.228998
                    603999                              0.233998

[2712 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-28 09:30:00 000001                             -0.703412
                    000002                             -0.445804
                    000005                             -0.609436
                    000006                             -0.573239
                    000007                             -0.641700
...                                                          ...
                    603993                             -0.609405
                    603996                             -0.609079
                    603997                             -0.609598
                    603998                             -0.610462
                    603999                             -0.609227

[2711 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-29 09:30:00 000001                             -0.409293
                    000002                             -0.401862
                    000005                             -0.307858
                    000006                             -0.346989
                    000007                             -0.330957
...                                                          ...
                    603993                             -0.307442
                    603996                             -0.307606
                    603997                             -0.307684
                    603998                             -0.309383
                    603999                             -0.307848

[2713 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-09-30 09:30:00 000001                             -0.526020
                    000002                             -0.334403
                    000005                             -0.458447
                    000006                             -0.365847
                    000007                             -0.446935
...                                                          ...
                    603993                             -0.458159
                    603996                             -0.458346
                    603997                             -0.458357
                    603998                             -0.458527
                    603999                             -0.458736

[2717 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-10 09:30:00 000001                             -0.330994
                    000002                              0.870677
                    000005                             -0.275279
                    000006                             -0.516481
                    000007                             -0.150415
...                                                          ...
                    603993                             -0.275414
                    603996                             -0.276360
                    603997                             -0.275645
                    603998                             -0.275912
                    603999                             -0.275829

[2715 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-11 09:30:00 000001                             -1.005643
                    000002                              1.421790
                    000005                             -1.135556
                    000006                              1.918823
                    000007                             -0.996458
...                                                          ...
                    603993                             -1.139877
                    603996                             -1.139077
                    603997                             -1.139943
                    603998                             -1.136400
                    603999                             -1.126750

[2711 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-12 09:30:00 000001                             -0.991474
                    000002                              1.329545
                    000005                             -1.038656
                    000006                             -0.102647
                    000007                             -0.946821
...                                                          ...
                    603993                             -1.041130
                    603996                             -1.041807
                    603997                             -1.041214
                    603998                             -1.040258
                    603999                             -0.944096

[2710 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-13 09:30:00 000001                             -1.414566
                    000002                              0.091626
                    000005                             -1.511794
                    000006                             -0.163161
                    000007                             -1.435984
...                                                          ...
                    603993                             -1.509728
                    603996                             -1.509584
                    603997                             -1.509791
                    603998                             -1.508576
                    603999                             -1.218826

[2706 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-14 09:30:00 000001                             -0.821819
                    000002                              0.015396
                    000005                             -0.894880
                    000006                             -0.815477
                    000007                             -0.920735
...                                                          ...
                    603993                             -0.894569
                    603996                             -0.895788
                    603997                             -0.894713
                    603998                             -0.898204
                    603999                             -0.779899

[2707 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-17 09:30:00 000001                             -0.957851
                    000002                              0.276158
                    000005                             -1.089623
                    000006                             -1.045251
                    000007                             -1.099991
...                                                          ...
                    603993                             -1.091520
                    603996                             -1.093013
                    603997                             -1.091629
                    603998                             -1.095898
                    603999                             -0.986795

[2706 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-18 09:30:00 000001                             -0.822603
                    000002                             -0.191346
                    000005                             -0.830674
                    000006                             -0.823094
                    000007                             -0.868648
...                                                          ...
                    603993                             -0.829854
                    603996                             -0.831440
                    603997                             -0.829844
                    603998                             -0.831925
                    603999                             -0.840273

[2707 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-19 09:30:00 000001                             -0.622449
                    000002                              0.601382
                    000005                             -0.607021
                    000006                             -0.653995
                    000007                             -0.648768
...                                                          ...
                    603993                             -0.606747
                    603996                             -0.607906
                    603997                             -0.606607
                    603998                             -0.610932
                    603999                             -0.651725

[2706 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-20 09:30:00 000001                              0.259593
                    000002                             -0.096654
                    000005                              0.311090
                    000006                             -0.005669
                    000007                              0.286103
...                                                          ...
                    603993                              0.312946
                    603996                              0.313778
                    603997                              0.312457
                    603998                              0.308468
                    603999                              0.333414

[2707 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-21 09:30:00 000001                              1.027200
                    000002                             -0.902644
                    000005                              1.085349
                    000006                              1.108486
                    000007                              1.089673
...                                                          ...
                    603993                              1.079442
                    603996                              1.127544
                    603997                              1.079909
                    603998                              1.073671
                    603999                              1.211314

[2710 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-24 09:30:00 000001                              2.697880
                    000002                              0.687767
                    000005                              2.845640
                    000006                              2.582906
                    000007                              2.868552
...                                                          ...
                    603993                              2.845867
                    603996                              2.839000
                    603997                              2.845805
                    603998                              2.840200
                    603999                              2.866802

[2709 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-25 09:30:00 000001                              0.469865
                    000002                              4.266691
                    000005                             -1.352634
                    000006                             -0.968712
                    000007                             -1.423887
...                                                          ...
                    603993                             -1.351977
                    603996                             -1.347920
                    603997                             -1.351714
                    603998                             -1.349289
                    603999                             -1.313197

[2711 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-26 09:30:00 000001                              0.311482
                    000002                              0.445429
                    000005                             -0.021712
                    000006                             -0.228348
                    000007                             -0.055140
...                                                          ...
                    603993                             -0.020714
                    603996                             -0.022243
                    603997                             -0.020516
                    603998                              0.005247
                    603999                             -0.058759

[2714 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-27 09:30:00 000001                              0.034004
                    000002                              0.113997
                    000005                              0.046593
                    000006                             -0.221370
                    000007                              0.027175
...                                                          ...
                    603993                              0.047543
                    603996                              0.045028
                    603997                              0.047475
                    603998                              0.052530
                    603999                              0.013584

[2717 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-28 09:30:00 000001                             -0.463696
                    000002                             -0.348299
                    000005                             -0.611641
                    000006                             -0.734797
                    000007                             -0.636031
...                                                          ...
                    603993                             -0.611202
                    603996                             -0.612442
                    603997                             -0.610809
                    603998                             -0.602935
                    603999                             -0.257226

[2715 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-10-31 09:30:00 000001                             -0.839442
                    000002                             -0.884775
                    000005                             -0.776005
                    000006                             -0.885962
                    000007                             -0.808796
...                                                          ...
                    603993                             -0.781621
                    603996                             -0.783888
                    603997                             -0.781793
                    603998                             -0.769508
                    603999                             -0.448458

[2715 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-01 09:30:00 000001                             -0.577845
                    000002                             -0.567486
                    000005                             -0.446284
                    000006                             -0.599641
                    000007                             -0.478563
...                                                          ...
                    603993                             -0.452963
                    603996                             -0.454528
                    603997                             -0.453234
                    603998                             -0.455035
                    603999                             -0.503330

[2717 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-02 09:30:00 000001                             -0.347082
                    000002                             -0.077898
                    000005                             -0.212663
                    000006                             -0.437380
                    000007                             -0.234465
...                                                          ...
                    603993                             -0.215375
                    603996                             -0.217187
                    603997                             -0.212278
                    603998                             -0.218374
                    603999                             -0.273154

[2716 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-03 09:30:00 000001                             -0.144590
                    000002                             -0.494579
                    000005                             -0.002954
                    000006                             -0.188993
                    000007                             -0.027059
...                                                          ...
                    603993                             -0.004937
                    603996                             -0.006880
                    603997                             -0.002488
                    603998                             -0.006658
                    603999                             -0.069381

[2717 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-04 09:30:00 000001                              0.460590
                    000002                              0.510273
                    000005                              0.541927
                    000006                              0.252406
                    000007                              0.575375
...                                                          ...
                    603993                              0.543122
                    603996                              0.538724
                    603997                              0.544535
                    603998                              0.539123
                    603999                              0.489876

[2717 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-07 09:30:00 000001                             -0.941690
                    000002                              0.065043
                    000005                             -0.836103
                    000006                             -0.558642
                    000007                             -0.861133
...                                                          ...
                    603993                             -0.835415
                    603996                             -0.814271
                    603997                             -0.835288
                    603998                             -0.838086
                    603999                             -0.932021

[2715 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-08 09:30:00 000001                              2.241971
                    000002                              0.430891
                    000005                              2.262624
                    000006                              1.801216
                    000007                              2.278859
...                                                          ...
                    603993                              2.263575
                    603996                              2.264303
                    603997                              2.263661
                    603998                              2.272041
                    603999                              2.296135

[2713 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-09 09:30:00 000001                              0.961253
                    000002                             -0.634585
                    000005                              1.053857
                    000006                              0.682421
                    000007                              1.048039
...                                                          ...
                    603993                              1.055543
                    603996                              1.051217
                    603997                              1.055020
                    603998                              1.053037
                    603999                              1.035779

[2719 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-10 09:30:00 000001                              0.878124
                    000002                             -0.548710
                    000005                              0.973625
                    000006                              0.612069
                    000007                              0.966356
...                                                          ...
                    603993                              0.975312
                    603996                              0.971140
                    603997                              0.974804
                    603998                              0.973964
                    603999                              0.952639

[2718 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-11 09:30:00 000001                              0.004440
                    000002                              2.959729
                    000005                              0.150474
                    000006                             -0.124787
                    000007                              0.151183
...                                                          ...
                    603993                              0.153352
                    603996                              0.149333
                    603997                              0.152659
                    603998                              0.152149
                    603999                              0.094929

[2721 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-14 09:30:00 000001                              0.250166
                    000002                              0.501695
                    000004                              0.236888
                    000005                              0.357953
                    000006                              0.070623
...                                                          ...
                    603993                              0.361311
                    603996                              0.356750
                    603997                              0.360899
                    603998                              0.358852
                    603999                              0.310106

[2726 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-15 09:30:00 000001                              1.640495
                    000002                             -0.572085
                    000004                              1.365452
                    000005                              1.510742
                    000006                              1.174819
...                                                          ...
                    603993                              1.521710
                    603996                              1.508161
                    603997                              1.513269
                    603998                              1.518675
                    603999                              1.513093

[2726 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-16 09:30:00 000001                              0.342236
                    000002                             -1.022688
                    000004                              0.344749
                    000005                              0.453020
                    000006                              0.145067
...                                                          ...
                    603993                              0.454276
                    603996                              0.450909
                    603997                              0.454056
                    603998                              0.451783
                    603999                              0.411007

[2731 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-17 09:30:00 000001                             -0.081214
                    000002                             -0.835959
                    000004                             -0.050255
                    000005                              0.054921
                    000006                             -0.221813
...                                                          ...
                    603993                              0.054928
                    603996                              0.051814
                    603997                              0.054728
                    603998                              0.053943
                    603999                             -0.005181

[2729 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-18 09:30:00 000001                              0.439139
                    000002                             -0.760647
                    000004                              0.467156
                    000005                              0.559187
                    000006                              0.239870
...                                                          ...
                    603993                              0.558715
                    603996                              0.555662
                    603997                              0.558750
                    603998                              0.558164
                    603999                              0.521710

[2736 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-21 09:30:00 000001                              0.521175
                    000002                              1.468722
                    000004                              0.535574
                    000005                              0.632522
                    000006                              0.308936
...                                                          ...
                    603993                              0.632448
                    603996                              0.630685
                    603997                              0.632556
                    603998                              0.630556
                    603999                              0.600626

[2737 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-22 09:30:00 000001                             -0.493583
                    000002                              0.451563
                    000004                             -0.339591
                    000005                             -0.280415
                    000006                             -0.299999
...                                                          ...
                    603993                             -0.279601
                    603996                             -0.282305
                    603997                             -0.279914
                    603998                             -0.282925
                    603999                             -0.356104

[2739 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-23 09:30:00 000001                              0.653672
                    000002                             -0.422457
                    000004                              0.604355
                    000005                              0.720925
                    000006                              0.587410
...                                                          ...
                    603993                              0.721473
                    603996                              0.720411
                    603997                              0.722012
                    603998                              0.723040
                    603999                              0.697633

[2739 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-24 09:30:00 000001                              0.291045
                    000002                             -0.186786
                    000004                             -0.251643
                    000005                             -0.190803
                    000006                             -0.250107
...                                                          ...
                    603993                             -0.190003
                    603996                             -0.190997
                    603997                             -0.189766
                    603998                             -0.189300
                    603999                             -0.247701

[2747 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-25 09:30:00 000001                              0.365766
                    000002                             -0.265333
                    000004                              0.218212
                    000005                              0.307150
                    000006                              0.175950
...                                                          ...
                    603993                              0.307792
                    603996                              0.305771
                    603997                              0.308057
                    603998                              0.302911
                    603999                              0.271958

[2746 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-28 09:30:00 000001                             -0.903232
                    000002                             -0.457924
                    000004                             -1.095029
                    000005                             -1.183997
                    000006                             -1.201103
...                                                          ...
                    603993                             -1.182632
                    603996                             -1.184496
                    603997                             -1.182118
                    603998                             -1.179653
                    603999                             -1.257642

[2747 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-29 09:30:00 000001                              1.885390
                    000002                             -0.649072
                    000004                             -0.432353
                    000005                             -0.496396
                    000006                             -0.363980
...                                                          ...
                    603993                             -0.497196
                    603996                             -0.499864
                    603997                             -0.492853
                    603998                             -0.499213
                    603999                             -0.541243

[2749 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-11-30 09:30:00 000001                              0.519503
                    000002                             -0.165525
                    000004                              0.507432
                    000005                              0.603844
                    000006                              0.442344
...                                                          ...
                    603993                              0.604297
                    603996                              0.602251
                    603997                              0.606200
                    603998                              0.600118
                    603999                              0.586562

[2750 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-01 09:30:00 000001                              0.400135
                    000002                             -0.130180
                    000004                              0.524322
                    000005                              0.602595
                    000006                              0.464332
...                                                          ...
                    603993                              0.601867
                    603996                              0.600707
                    603997                              0.602393
                    603998                              0.606849
                    603999                              0.584953

[2749 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-02 09:30:00 000001                              0.184968
                    000002                             -0.102226
                    000004                              0.242759
                    000005                              0.305635
                    000006                              0.233052
...                                                          ...
                    603993                              0.304473
                    603996                              0.305199
                    603997                              0.304752
                    603998                              0.308983
                    603999                              0.280552

[2752 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-05 09:30:00 000001                             -0.235844
                    000002                             -0.289536
                    000004                             -0.053092
                    000005                              0.024748
                    000006                             -0.050259
...                                                          ...
                    603993                              0.024436
                    603996                              0.028233
                    603997                              0.024418
                    603998                              0.026355
                    603999                             -0.020760

[2753 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-06 09:30:00 000001                             -0.845530
                    000002                              0.049851
                    000004                             -0.765805
                    000005                             -0.708213
                    000006                             -0.764422
...                                                          ...
                    603993                             -0.710583
                    603996                             -0.710763
                    603997                             -0.711658
                    603998                             -0.716796
                    603999                             -0.798332

[2757 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-07 09:30:00 000001                             -1.238635
                    000002                              0.326010
                    000004                             -1.219776
                    000005                             -1.210356
                    000006                             -0.731096
...                                                          ...
                    603993                             -1.211140
                    603996                             -1.212463
                    603997                             -1.212623
                    603998                             -1.171565
                    603999                             -1.321192

[2759 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-08 09:30:00 000001                             -1.445837
                    000002                              0.112769
                    000004                             -1.372212
                    000005                             -1.468108
                    000006                             -0.999863
...                                                          ...
                    603993                             -1.467783
                    603996                             -1.469689
                    603997                             -1.467317
                    603998                             -1.300348
                    603999                             -1.579207

[2759 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-09 09:30:00 000001                             -1.457426
                    000002                              0.774591
                    000004                             -1.404120
                    000005                             -1.587930
                    000006                             -1.217013
...                                                          ...
                    603993                             -1.586369
                    603996                             -1.589249
                    603997                             -1.587416
                    603998                             -1.453121
                    603999                             -1.649099

[2765 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-12 09:30:00 000001                             -0.823127
                    000002                             -0.461241
                    000004                             -0.786843
                    000005                             -0.742373
                    000006                             -0.993748
...                                                          ...
                    603993                             -0.739429
                    603996                             -0.741460
                    603997                             -0.740677
                    603998                             -0.750669
                    603999                             -0.724636

[2766 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-13 09:30:00 000001                              0.463424
                    000002                             -0.673056
                    000004                              0.214922
                    000005                              0.346038
                    000006                              0.406882
...                                                          ...
                    603993                              0.346477
                    603996                              0.346498
                    603997                              0.346312
                    603998                              0.337992
                    603999                              0.367994

[2762 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-14 09:30:00 000001                             -1.387925
                    000002                             -0.319785
                    000004                             -1.358880
                    000005                             -1.358011
                    000006                             -1.599410
...                                                          ...
                    603993                             -1.358163
                    603996                             -1.359672
                    603997                             -1.359191
                    603998                             -1.393043
                    603999                             -1.361521

[2763 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-15 09:30:00 000001                             -1.402744
                    000002                             -0.165441
                    000004                             -1.376017
                    000005                             -1.391307
                    000006                             -1.678196
...                                                          ...
                    603993                             -1.391467
                    603996                             -1.393417
                    603997                             -1.392330
                    603998                             -1.426108
                    603999                             -1.395197

[2764 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-16 09:30:00 000001                             -0.496156
                    000002                             -0.204491
                    000004                             -0.488438
                    000005                             -0.456265
                    000006                             -0.643603
...                                                          ...
                    603993                             -0.456677
                    603996                             -0.458102
                    603997                             -0.457103
                    603998                             -0.474966
                    603999                             -0.459788

[2769 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-19 09:30:00 000001                              0.374931
                    000002                             -0.503288
                    000004                              0.300897
                    000005                              0.315893
                    000006                              0.230913
...                                                          ...
                    603993                              0.315286
                    603996                              0.314919
                    603997                              0.315418
                    603998                              0.306381
                    603999                              0.318284

[2771 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-20 09:30:00 000001                              0.677895
                    000002                             -0.503961
                    000004                              0.824630
                    000005                              0.812176
                    000006                              1.528522
...                                                          ...
                    603993                              0.810289
                    603996                              0.810765
                    603997                              0.811187
                    603998                              0.816468
                    603999                              0.810395

[2771 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-21 09:30:00 000001                              0.739276
                    000002                              0.100330
                    000004                              0.995168
                    000005                              1.006063
                    000006                              1.320340
...                                                          ...
                    603993                              1.004604
                    603996                              1.005490
                    603997                              1.005704
                    603998                              1.012470
                    603999                              1.003605

[2772 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-22 09:30:00 000001                              0.528919
                    000002                             -0.001567
                    000004                              0.761979
                    000005                              0.784658
                    000006                              0.817986
...                                                          ...
                    603993                              0.783966
                    603996                              0.784473
                    603997                              0.784828
                    603998                              0.784459
                    603999                              0.782755

[2774 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-23 09:30:00 000001                              0.580148
                    000002                             -0.457219
                    000004                              0.895070
                    000005                              0.909168
                    000006                              0.795254
...                                                          ...
                    603993                              0.907897
                    603996                              0.909809
                    603997                              0.908885
                    603998                              0.912680
                    603999                              0.906651

[2772 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-26 09:30:00 000001                              0.825024
                    000002                             -0.672966
                    000004                              1.175117
                    000005                              1.184082
                    000006                              1.073660
...                                                          ...
                    603993                              1.182521
                    603996                              1.183324
                    603997                              1.183902
                    603998                              1.195042
                    603999                              1.181996

[2773 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-27 09:30:00 000001                             -0.618575
                    000002                             -0.819787
                    000004                             -0.454149
                    000005                             -0.408100
                    000006                             -0.532577
...                                                          ...
                    603993                             -0.407923
                    603996                             -0.407659
                    603997                             -0.408806
                    603998                             -0.441576
                    603999                             -0.408810

[2774 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-28 09:30:00 000001                              0.220428
                    000002                             -0.472253
                    000004                              0.513772
                    000005                              0.541668
                    000006                              0.416029
...                                                          ...
                    603993                              0.541977
                    603996                              0.541526
                    603997                              0.541552
                    603998                              0.535745
                    603999                              0.540104

[2773 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-29 09:30:00 000001                              0.667052
                    000002                             -0.802749
                    000004                              1.009522
                    000005                              1.019342
                    000006                              0.894274
...                                                          ...
                    603993                              1.019522
                    603996                              1.019824
                    603997                              1.019224
                    603998                              1.030096
                    603999                              1.017271

[2774 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2016-12-30 09:30:00 000001                              0.743586
                    000002                             -0.927386
                    000004                              1.082695
                    000005                              1.094896
                    000006                              0.960168
...                                                          ...
                    603993                              1.094835
                    603996                              1.096445
                    603997                              1.094559
                    603998                              1.106826
                    603999                              1.092111

[2775 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-03 09:30:00 000001                              0.791591
                    000002                             -0.942207
                    000004                              1.134721
                    000005                              1.146534
                    000006                              1.033794
...                                                          ...
                    603993                              1.146072
                    603996                              1.146279
                    603997                              1.145801
                    603998                              1.157430
                    603999                              1.143589

[2779 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-04 09:30:00 000001                              0.798494
                    000002                             -0.910659
                    000004                              1.098669
                    000005                              1.107939
                    000006                              1.007802
...                                                          ...
                    603993                              1.107917
                    603996                              1.107445
                    603997                              1.107689
                    603998                              1.119298
                    603999                              1.105569

[2781 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-05 09:30:00 000001                              0.416426
                    000002                             -1.046406
                    000004                              0.685822
                    000005                              0.708470
                    000006                              0.617190
...                                                          ...
                    603993                              0.707500
                    603996                              0.706640
                    603997                              0.707166
                    603998                              0.707746
                    603999                              0.704495

[2783 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-06 09:30:00 000001                              0.518525
                    000002                             -0.966536
                    000004                              0.779009
                    000005                              0.796225
                    000006                              0.706134
...                                                          ...
                    603993                              0.796018
                    603996                              0.795298
                    603997                              0.795767
                    603998                              0.798837
                    603999                              0.793155

[2782 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-09 09:30:00 000001                              0.662517
                    000002                             -0.964981
                    000004                              0.931494
                    000005                              0.940916
                    000006                              0.906097
...                                                          ...
                    603993                              0.940733
                    603996                              0.940145
                    603997                              0.940544
                    603998                              0.948186
                    603999                              0.938065

[2783 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-10 09:30:00 000001                              0.649622
                    000002                             -0.805856
                    000004                              0.933294
                    000005                              0.926646
                    000006                              0.845269
...                                                          ...
                    603993                              0.926709
                    603996                              0.925895
                    603997                              0.926603
                    603998                              0.936194
                    603999                              0.924522

[2782 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-11 09:30:00 000001                              1.471801
                    000002                             -0.863391
                    000004                              1.545343
                    000005                              1.529161
                    000006                              1.495691
...                                                          ...
                    603993                              1.528724
                    603996                              1.528213
                    603997                              1.528768
                    603998                              1.557326
                    603999                              1.526974

[2784 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-12 09:30:00 000001                              1.432830
                    000002                             -0.818389
                    000004                              1.485966
                    000005                              1.472686
                    000006                              1.446878
...                                                          ...
                    603993                              1.472232
                    603996                              1.471621
                    603997                              1.472226
                    603998                              1.497952
                    603999                              1.470939

[2784 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-13 09:30:00 000001                              0.754179
                    000002                             -0.812784
                    000004                              0.825560
                    000005                              0.818782
                    000006                              0.843575
...                                                          ...
                    603993                              0.816192
                    603996                              0.816175
                    603997                              0.816421
                    603998                              0.821976
                    603999                              0.815108

[2783 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-16 09:30:00 000001                              0.526060
                    000002                              0.338775
                    000004                              0.586343
                    000005                              0.588941
                    000006                              0.904854
...                                                          ...
                    603993                              0.587615
                    603996                              0.587133
                    603997                              0.587732
                    603998                              0.587450
                    603999                              0.585915

[2781 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-17 09:30:00 000001                             -0.539564
                    000002                             -1.098707
                    000004                             -0.425997
                    000005                             -0.432083
                    000006                             -0.219015
...                                                          ...
                    603993                             -0.431846
                    603996                             -0.430731
                    603997                             -0.431224
                    603998                             -0.461313
                    603999                             -0.433741

[2781 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-18 09:30:00 000001                             -1.100731
                    000002                             -0.674666
                    000004                             -0.997397
                    000005                             -0.978817
                    000006                             -1.119307
...                                                          ...
                    603993                             -0.977876
                    603996                             -0.978894
                    603997                             -0.978076
                    603998                             -1.015810
                    603999                             -0.980117

[2782 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-19 09:30:00 000001                             -1.404799
                    000002                             -0.699296
                    000004                             -1.307170
                    000005                             -1.283389
                    000006                             -1.414984
...                                                          ...
                    603993                             -1.282547
                    603996                             -1.283698
                    603997                             -1.282955
                    603998                             -1.326814
                    603999                             -1.285617

[2781 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-20 09:30:00 000001                             -1.390535
                    000002                             -0.671701
                    000004                             -1.290069
                    000005                             -1.286746
                    000006                             -1.380254
...                                                          ...
                    603993                             -1.287534
                    603996                             -1.288192
                    603997                             -1.287809
                    603998                             -1.313568
                    603999                             -1.291197

[2782 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-23 09:30:00 000001                             -0.468465
                    000002                             -0.704022
                    000004                             -0.384997
                    000005                             -0.398478
                    000006                             -0.463571
...                                                          ...
                    603993                             -0.398271
                    603996                             -0.398622
                    603997                             -0.398416
                    603998                             -0.401015
                    603999                             -0.401640

[2786 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-24 09:30:00 000001                             -0.044893
                    000002                             -0.702531
                    000004                             -0.006486
                    000005                             -0.003208
                    000006                             -0.088152
...                                                          ...
                    603993                             -0.002411
                    603996                             -0.003130
                    603997                             -0.002492
                    603998                             -0.001036
                    603999                             -0.003646

[2785 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-25 09:30:00 000001                              0.628535
                    000002                             -0.659116
                    000004                              0.705657
                    000005                              0.649952
                    000006                              0.545117
...                                                          ...
                    603993                              0.650565
                    603996                              0.650002
                    603997                              0.650519
                    603998                              0.651085
                    603999                              0.649733

[2789 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-01-26 09:30:00 000001                              0.538254
                    000002                             -0.601833
                    000004                              0.581953
                    000005                              0.569573
                    000006                              0.451158
...                                                          ...
                    603993                              0.570187
                    603996                              0.569867
                    603997                              0.570148
                    603998                              0.570019
                    603999                              0.569668

[2790 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-03 09:30:00 000001                              0.728189
                    000002                             -0.540332
                    000004                              0.750899
                    000005                              0.756138
                    000006                              0.622228
...                                                          ...
                    603993                              0.756611
                    603996                              0.756058
                    603997                              0.756608
                    603998                              0.757657
                    603999                              0.755965

[2791 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-06 09:30:00 000001                              0.731124
                    000002                             -0.488422
                    000004                              0.711630
                    000005                              0.724367
                    000006                              0.600920
...                                                          ...
                    603993                              0.724801
                    603996                              0.724360
                    603997                              0.724787
                    603998                              0.724241
                    603999                              0.723966

[2796 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-07 09:30:00 000001                              1.412648
                    000002                             -0.383581
                    000004                              1.418712
                    000005                              1.414827
                    000006                              1.301266
...                                                          ...
                    603993                              1.414690
                    603996                              1.414304
                    603997                              1.414659
                    603998                              1.415750
                    603999                              1.414580

[2796 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-08 09:30:00 000001                              0.892110
                    000002                             -0.422060
                    000004                              0.918509
                    000005                              0.911658
                    000006                              0.863697
...                                                          ...
                    603993                              0.911619
                    603996                              0.911234
                    603997                              0.911957
                    603998                              0.912057
                    603999                              0.912110

[2800 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-09 09:30:00 000001                              1.008711
                    000002                             -0.355398
                    000004                              1.024565
                    000005                              1.024716
                    000006                              0.995913
...                                                          ...
                    603993                              1.024791
                    603996                              1.024374
                    603997                              1.024926
                    603998                              1.025977
                    603999                              1.024846

[2802 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-10 09:30:00 000001                              0.524439
                    000002                             -0.159268
                    000004                              0.528664
                    000005                              0.536219
                    000006                              0.498295
...                                                          ...
                    603993                              0.536644
                    603996                              0.536706
                    603997                              0.536705
                    603998                              0.536196
                    603999                              0.536484

[2803 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-13 09:30:00 000001                              0.214432
                    000002                             -0.533995
                    000004                              0.194032
                    000005                              0.213956
                    000006                              0.166589
...                                                          ...
                    603993                              0.214478
                    603996                              0.213954
                    603997                              0.214611
                    603998                              0.213201
                    603999                              0.213866

[2807 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-14 09:30:00 000001                              0.304906
                    000002                             -0.383328
                    000004                              0.280066
                    000005                              0.275036
                    000006                              0.230213
...                                                          ...
                    603993                              0.276735
                    603996                              0.274984
                    603997                              0.276796
                    603998                              0.274970
                    603999                              0.275079

[2808 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-15 09:30:00 000001                              0.420348
                    000002                             -0.286319
                    000004                              0.400232
                    000005                              0.407655
                    000006                              0.367448
...                                                          ...
                    603993                              0.408432
                    603996                              0.407251
                    603997                              0.408834
                    603998                              0.408302
                    603999                              0.407422

[2810 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-16 09:30:00 000001                             -0.944686
                    000002                             -0.630099
                    000004                             -1.002643
                    000005                             -0.972511
                    000006                             -1.018868
...                                                          ...
                    603993                             -0.970889
                    603996                             -0.971861
                    603997                             -0.970478
                    603998                             -0.974710
                    603999                             -0.972235

[2810 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-17 09:30:00 000001                              0.373897
                    000002                             -0.094422
                    000004                              0.366210
                    000005                              0.376193
                    000006                              0.331655
...                                                          ...
                    603993                              0.376454
                    603996                              0.376746
                    603997                              0.376854
                    603998                              0.375808
                    603999                              0.376214

[2811 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-20 09:30:00 000001                              0.850257
                    000002                             -0.048730
                    000004                              0.861967
                    000005                              0.867657
                    000006                              0.838348
...                                                          ...
                    603993                              0.868554
                    603996                              0.867762
                    603997                              0.867841
                    603998                              0.868327
                    603999                              0.867711

[2811 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-21 09:30:00 000001                             -0.970854
                    000002                             -0.536200
                    000004                             -0.919204
                    000005                             -0.897998
                    000006                             -0.950756
...                                                          ...
                    603993                             -0.896362
                    603996                             -0.896980
                    603997                             -0.896828
                    603998                             -0.896674
                    603999                             -0.897127

[2813 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-22 09:30:00 000001                             -0.214522
                    000002                             -0.189442
                    000004                             -0.343831
                    000005                             -0.321923
                    000006                             -0.376595
...                                                          ...
                    603993                             -0.320455
                    603996                             -0.321353
                    603997                             -0.321071
                    603998                             -0.321719
                    603999                             -0.320221

[2812 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-23 09:30:00 000001                             -0.076576
                    000002                             -0.164435
                    000004                             -0.086280
                    000005                             -0.075028
                    000006                             -0.117432
...                                                          ...
                    603993                             -0.073146
                    603996                             -0.074419
                    603997                             -0.074445
                    603998                             -0.075993
                    603999                             -0.074581

[2814 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-24 09:30:00 000001                             -0.050394
                    000002                             -0.231446
                    000004                             -0.054344
                    000005                             -0.039924
                    000006                             -0.091225
...                                                          ...
                    603993                             -0.038052
                    603996                             -0.039654
                    603997                             -0.039092
                    603998                             -0.040625
                    603999                             -0.039824

[2818 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-27 09:30:00 000001                             -0.757762
                    000002                             -0.363039
                    000004                             -0.788000
                    000005                             -0.759752
                    000006                             -0.825767
...                                                          ...
                    603993                             -0.758479
                    603996                             -0.759099
                    603997                             -0.758708
                    603998                             -0.762404
                    603999                             -0.759393

[2823 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-02-28 09:30:00 000001                             -0.453036
                    000002                             -0.077680
                    000004                             -0.479663
                    000005                             -0.459553
                    000006                             -0.519358
...                                                          ...
                    603993                             -0.458608
                    603996                             -0.459035
                    603997                             -0.458778
                    603998                             -0.461504
                    603999                             -0.459050

[2826 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-01 09:30:00 000001                             -0.609857
                    000002                             -0.244261
                    000004                             -0.635819
                    000005                             -0.612161
                    000006                             -0.674197
...                                                          ...
                    603993                             -0.611413
                    603996                             -0.610429
                    603997                             -0.611354
                    603998                             -0.621526
                    603999                             -0.607255

[2824 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-02 09:30:00 000001                              0.167654
                    000002                             -0.179605
                    000004                              0.144381
                    000005                              0.159341
                    000006                              0.108922
...                                                          ...
                    603993                              0.159486
                    603996                              0.159870
                    603997                              0.159614
                    603998                              0.156517
                    603999                              0.162248

[2820 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-03 09:30:00 000001                             -0.355168
                    000002                             -0.332454
                    000004                             -0.361415
                    000005                             -0.348972
                    000006                             -0.407293
...                                                          ...
                    603993                             -0.348393
                    603996                             -0.348543
                    603997                             -0.348460
                    603998                             -0.352462
                    603999                             -0.348055

[2825 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-06 09:30:00 000001                             -0.153946
                    000002                              0.195512
                    000004                             -0.315107
                    000005                             -0.300116
                    000006                             -0.283532
...                                                          ...
                    603993                             -0.298483
                    603996                             -0.298984
                    603997                             -0.298506
                    603998                             -0.299361
                    603999                             -0.298270

[2829 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-07 09:30:00 000001                              0.329474
                    000002                              0.268014
                    000004                              0.285765
                    000005                              0.298172
                    000006                              0.307505
...                                                          ...
                    603993                              0.296848
                    603996                              0.296440
                    603997                              0.296097
                    603998                              0.295524
                    603999                              0.295677

[2829 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-08 09:30:00 000001                              0.567330
                    000002                              0.575678
                    000004                              0.567776
                    000005                              0.577954
                    000006                              0.592648
...                                                          ...
                    603993                              0.578513
                    603996                              0.578621
                    603997                              0.578311
                    603998                              0.578066
                    603999                              0.578109

[2833 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-09 09:30:00 000001                              0.190017
                    000002                             -0.032477
                    000004                              0.202874
                    000005                              0.216467
                    000006                              0.213714
...                                                          ...
                    603993                              0.216958
                    603996                              0.216632
                    603997                              0.216879
                    603998                              0.215869
                    603999                              0.216425

[2835 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-10 09:30:00 000001                             -1.898992
                    000002                             -1.789086
                    000004                             -1.881488
                    000005                             -1.875932
                    000006                             -1.851156
...                                                          ...
                    603993                             -1.875380
                    603996                             -1.875453
                    603997                             -1.875478
                    603998                             -1.876056
                    603999                             -1.876672

[2840 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-13 09:30:00 000001                             -1.131257
                    000002                             -1.310464
                    000004                             -1.126987
                    000005                             -1.120420
                    000006                             -1.131378
...                                                          ...
                    603993                             -1.120699
                    603996                             -1.120586
                    603997                             -1.120819
                    603998                             -1.119298
                    603999                             -1.121354

[2839 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-14 09:30:00 000001                             -0.563433
                    000002                             -0.149572
                    000004                             -0.540167
                    000005                             -0.532337
                    000006                             -0.561718
...                                                          ...
                    603993                             -0.532962
                    603996                             -0.532956
                    603997                             -0.532946
                    603998                             -0.530827
                    603999                             -0.533042

[2839 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-15 09:30:00 000001                              0.435227
                    000002                              4.902852
                    000004                              0.442573
                    000005                              0.451990
                    000006                              0.437657
...                                                          ...
                    603993                              0.451784
                    603996                              0.451951
                    603997                              0.451720
                    603998                              0.452530
                    603999                              0.451628

[2838 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-16 09:30:00 000001                              0.552042
                    000002                             -1.296857
                    000004                              0.574371
                    000005                              0.582742
                    000006                              0.577517
...                                                          ...
                    603993                              0.580965
                    603996                              0.581408
                    603997                              0.580184
                    603998                              0.581018
                    603999                              0.581518

[2844 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-17 09:30:00 000001                              0.608499
                    000002                             -0.468472
                    000004                              0.558690
                    000005                              0.555414
                    000006                              0.548453
...                                                          ...
                    603993                              0.554697
                    603996                              0.554850
                    603997                              0.556137
                    603998                              0.554255
                    603999                              0.554829

[2847 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-20 09:30:00 000001                              0.630502
                    000002                              3.873319
                    000004                              0.621666
                    000005                              0.625854
                    000006                              0.640156
...                                                          ...
                    603993                              0.625422
                    603996                              0.625633
                    603997                              0.626185
                    603998                              0.625001
                    603999                              0.625549

[2847 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-21 09:30:00 000001                              1.449678
                    000002                              2.455938
                    000004                              0.787651
                    000005                              0.794644
                    000006                              0.803904
...                                                          ...
                    603993                              0.794396
                    603996                              0.794594
                    603997                              0.795515
                    603998                              0.798265
                    603999                              0.794631

[2845 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-22 09:30:00 000001                              0.617785
                    000002                              2.063983
                    000004                              0.180917
                    000005                              0.176914
                    000006                              0.192282
...                                                          ...
                    603993                              0.179148
                    603996                              0.177594
                    603997                              0.179026
                    603998                              0.178952
                    603999                              0.177792

[2846 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-23 09:30:00 000001                             -0.446238
                    000002                              0.302318
                    000004                             -0.716446
                    000005                             -0.723365
                    000006                             -0.722473
...                                                          ...
                    603993                             -0.721719
                    603996                             -0.722406
                    603997                             -0.721585
                    603998                             -0.720666
                    603999                             -0.722348

[2846 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-24 09:30:00 000001                             -1.861322
                    000002                             -0.910189
                    000004                             -1.946876
                    000005                             -1.939161
                    000006                             -1.955123
...                                                          ...
                    603993                             -1.939455
                    603996                             -1.940102
                    603997                             -1.939541
                    603998                             -1.939369
                    603999                             -1.939479

[2845 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-27 09:30:00 000001                             -1.565458
                    000002                             -0.789055
                    000004                             -1.567381
                    000005                             -1.569080
                    000006                             -1.592478
...                                                          ...
                    603993                             -1.569897
                    603996                             -1.568676
                    603997                             -1.569906
                    603998                             -1.568606
                    603999                             -1.570554

[2842 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-28 09:30:00 000001                             -1.011099
                    000002                             -0.826852
                    000004                             -1.051553
                    000005                             -1.057282
                    000006                             -1.083378
...                                                          ...
                    603993                             -1.057719
                    603996                             -1.057222
                    603997                             -1.057741
                    603998                             -1.055548
                    603999                             -1.058512

[2843 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-29 09:30:00 000001                              0.326193
                    000002                              0.004752
                    000004                              0.427905
                    000005                              0.415738
                    000006                              0.400929
...                                                          ...
                    603993                              0.414842
                    603996                              0.415147
                    603997                              0.415913
                    603998                              0.417976
                    603999                              0.414668

[2841 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-30 09:30:00 000001                              0.780649
                    000002                             -0.147716
                    000004                              0.880767
                    000005                              0.881948
                    000006                              0.872242
...                                                          ...
                    603993                              0.880268
                    603996                              0.880519
                    603997                              0.881407
                    603998                              0.885741
                    603999                              0.880256

[2844 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-03-31 09:30:00 000001                             -0.494342
                    000002                              0.154406
                    000004                             -0.443938
                    000005                             -0.447549
                    000006                             -0.445326
...                                                          ...
                    603993                             -0.449503
                    603996                             -0.448889
                    603997                             -0.444838
                    603998                             -0.444775
                    603999                             -0.448520

[2848 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-05 09:30:00 000001                             -1.812966
                    000002                              1.141201
                    000004                             -1.752664
                    000005                             -1.788768
                    000006                             -1.763146
...                                                          ...
                    603993                             -1.793163
                    603996                             -1.791505
                    603997                             -1.791582
                    603998                             -1.793415
                    603999                             -1.792061

[2845 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-06 09:30:00 000001                             -0.885092
                    000002                             -0.018093
                    000004                             -0.857965
                    000005                             -0.912862
                    000006                             -0.923265
...                                                          ...
                    603993                             -0.912898
                    603996                             -0.913602
                    603997                             -0.910991
                    603998                             -0.914272
                    603999                             -0.914510

[2845 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-07 09:30:00 000001                             -0.460407
                    000002                             -0.371904
                    000004                             -0.388791
                    000005                             -0.447195
                    000006                             -0.424999
...                                                          ...
                    603993                             -0.444535
                    603996                             -0.447990
                    603997                             -0.447252
                    603998                             -0.448138
                    603999                             -0.448573

[2848 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-10 09:30:00 000001                              0.222942
                    000002                             -0.375434
                    000004                              0.379321
                    000005                              0.316019
                    000006                              0.353422
...                                                          ...
                    603993                              0.316238
                    603996                              0.315285
                    603997                              0.315191
                    603998                              0.315223
                    603999                              0.314447

[2845 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-11 09:30:00 000001                              1.130549
                    000002                             -0.264706
                    000004                              1.350474
                    000005                              1.286621
                    000006                              1.300021
...                                                          ...
                    603993                              1.286638
                    603996                              1.287131
                    603997                              1.286259
                    603998                              1.285574
                    603999                              1.286260

[2846 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-12 09:30:00 000001                             -0.601773
                    000002                             -0.532301
                    000004                             -0.504954
                    000005                             -0.553311
                    000006                             -0.503381
...                                                          ...
                    603993                             -0.551006
                    603996                             -0.548875
                    603997                             -0.552131
                    603998                             -0.550217
                    603999                             -0.551395

[2850 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-13 09:30:00 000001                             -0.591158
                    000002                             -0.230163
                    000004                             -0.496697
                    000005                             -0.492773
                    000006                              1.702621
...                                                          ...
                    603993                             -0.544907
                    603996                             -0.544428
                    603997                             -0.545388
                    603998                             -0.541960
                    603999                             -0.545627

[2848 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-14 09:30:00 000001                             -0.055906
                    000002                             -0.748017
                    000004                              0.023066
                    000005                             -0.012229
                    000006                              0.510138
...                                                          ...
                    603993                             -0.028120
                    603996                             -0.027819
                    603997                             -0.028289
                    603998                             -0.026081
                    603999                             -0.027958

[2847 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-17 09:30:00 000001                              0.823633
                    000002                             -0.496757
                    000004                              0.979235
                    000005                              0.932511
                    000006                              1.078206
...                                                          ...
                    603993                              0.924356
                    603996                              0.924709
                    603997                              0.924761
                    603998                              0.925857
                    603999                              0.925065

[2850 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-18 09:30:00 000001                             -1.435861
                    000002                             -0.114314
                    000004                             -1.413595
                    000005                             -1.434352
                    000006                             -0.988970
...                                                          ...
                    603993                             -1.442806
                    603996                             -1.443001
                    603997                             -1.442891
                    603998                             -1.443439
                    603999                             -1.442953

[2851 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-19 09:30:00 000001                             -2.389811
                    000002                             -0.708433
                    000004                             -2.427757
                    000005                             -2.433914
                    000006                             -2.271438
...                                                          ...
                    603993                             -2.433446
                    603996                             -2.433444
                    603997                             -2.433102
                    603998                             -2.433310
                    603999                             -2.430667

[2850 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-20 09:30:00 000001                             -1.942474
                    000002                             -0.806749
                    000004                             -2.016027
                    000005                             -2.018813
                    000006                             -1.953834
...                                                          ...
                    603993                             -2.016897
                    603996                             -2.014413
                    603997                             -2.016868
                    603998                             -2.017284
                    603999                             -2.017557

[2851 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-21 09:30:00 000001                             -1.743743
                    000002                             -0.922322
                    000004                             -2.049606
                    000005                             -2.057586
                    000006                             -2.064557
...                                                          ...
                    603993                             -2.055036
                    603996                             -2.054965
                    603997                             -2.056304
                    603998                             -1.997031
                    603999                             -2.056669

[2853 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-24 09:30:00 000001                             -0.420793
                    000002                             -0.571596
                    000004                             -0.454825
                    000005                             -0.481455
                    000006                             -0.513431
...                                                          ...
                    603993                             -0.479653
                    603996                             -0.479240
                    603997                             -0.480432
                    603998                             -0.456210
                    603999                             -0.480824

[2850 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-25 09:30:00 000001                              0.475490
                    000002                             -0.421569
                    000004                              0.563746
                    000005                              0.528278
                    000006                              0.434750
...                                                          ...
                    603993                              0.531055
                    603996                              0.530649
                    603997                              0.529823
                    603998                              0.538515
                    603999                              0.530118

[2854 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-26 09:30:00 000001                             -1.144212
                    000002                             -0.647719
                    000004                             -1.067503
                    000005                             -1.081780
                    000006                             -1.082359
...                                                          ...
                    603993                             -1.079644
                    603996                             -1.076079
                    603997                             -1.081852
                    603998                             -1.089384
                    603999                             -1.078299

[2855 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-27 09:30:00 000001                              1.638114
                    000002                             -0.063868
                    000004                              1.764496
                    000005                              1.733156
                    000006                              1.641763
...                                                          ...
                    603993                              1.732418
                    603996                              1.734689
                    603997                              1.731523
                    603998                              1.737348
                    603999                              1.734047

[2856 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-04-28 09:30:00 000001                             -0.859754
                    000002                             -0.331803
                    000004                             -0.790287
                    000005                             -0.807281
                    000006                             -0.912991
...                                                          ...
                    603993                             -0.805537
                    603996                             -0.805555
                    603997                             -0.805720
                    603998                             -0.812408
                    603999                             -0.805278

[2858 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-02 09:30:00 000001                              0.558431
                    000002                              4.202949
                    000004                              0.671677
                    000005                              0.649900
                    000006                              0.520303
...                                                          ...
                    603993                              0.648334
                    603996                              0.648189
                    603997                              0.647893
                    603998                              0.647625
                    603999                              0.648344

[2850 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-03 09:30:00 000001                             -0.276917
                    000002                              4.322734
                    000004                             -0.067423
                    000005                             -0.213203
                    000006                             -0.340402
...                                                          ...
                    603993                             -0.214567
                    603996                             -0.215188
                    603997                             -0.215564
                    603998                             -0.208525
                    603999                             -0.215564

[2841 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-04 09:30:00 000001                              1.425862
                    000002                             -0.072175
                    000004                              1.501308
                    000005                              1.521036
                    000006                              1.354910
...                                                          ...
                    603993                              1.523309
                    603996                              1.523565
                    603997                              1.523153
                    603998                              1.525831
                    603999                              1.523692

[2844 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-05 09:30:00 000001                              1.046200
                    000002                              0.028904
                    000004                              1.050641
                    000005                              1.045548
                    000006                              0.895816
...                                                          ...
                    603993                              1.048090
                    603996                              1.048469
                    603997                              1.048172
                    603998                              1.049333
                    603999                              1.048440

[2845 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-08 09:30:00 000001                              0.177731
                    000002                             -0.095242
                    000004                             -0.760597
                    000005                             -0.828894
                    000006                             -0.934605
...                                                          ...
                    603993                             -0.824950
                    603996                             -0.820812
                    603997                             -0.825823
                    603998                             -0.833095
                    603999                             -0.826223

[2850 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-09 09:30:00 000001                              1.276827
                    000002                             -0.196377
                    000004                             -1.262185
                    000005                             -1.362162
                    000006                             -1.018173
...                                                          ...
                    603993                             -1.365133
                    603996                             -1.360283
                    603997                             -1.365565
                    603998                             -1.366201
                    603999                             -1.366170

[2851 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-10 09:30:00 000001                              1.299430
                    000002                              1.581318
                    000004                              0.047511
                    000005                             -0.084075
                    000006                              0.911295
...                                                          ...
                    603993                             -0.114683
                    603996                             -0.110834
                    603997                             -0.114848
                    603998                             -0.069669
                    603999                             -0.113700

[2851 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-11 09:30:00 000001                             -0.393515
                    000002                             -0.280797
                    000004                             -0.428177
                    000005                             -0.424256
                    000006                             -0.496240
...                                                          ...
                    603993                             -0.423018
                    603996                             -0.423917
                    603997                             -0.422901
                    603998                             -0.426380
                    603999                             -0.423274

[2859 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-12 09:30:00 000001                              1.276571
                    000002                              0.137926
                    000004                              1.401889
                    000005                              1.322364
                    000006                              1.334219
...                                                          ...
                    603993                              1.297045
                    603996                              1.300506
                    603997                              1.296036
                    603998                              1.317159
                    603999                              1.298147

[2865 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-15 09:30:00 000001                             -2.472871
                    000002                              1.998777
                    000004                             -2.871146
                    000005                             -3.045106
                    000006                             -2.841169
...                                                          ...
                    603993                             -3.069011
                    603996                             -3.068705
                    603997                             -3.069627
                    603998                             -3.059103
                    603999                             -3.061555

[2867 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-16 09:30:00 000001                              0.467944
                    000002                              0.021993
                    000004                             -0.398914
                    000005                             -0.432320
                    000006                             -0.580240
...                                                          ...
                    603993                             -0.429294
                    603996                             -0.429857
                    603997                             -0.429154
                    603998                             -0.435693
                    603999                             -0.427500

[2869 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-17 09:30:00 000001                              1.374006
                    000002                              0.020005
                    000004                              0.918708
                    000005                              0.618849
                    000006                              0.265182
...                                                          ...
                    603993                              0.621966
                    603996                              0.620557
                    603997                              0.621407
                    603998                              0.629104
                    603999                              0.624365

[2878 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-18 09:30:00 000001                              0.132186
                    000002                             -0.421431
                    000004                              0.329797
                    000005                              0.370351
                    000006                              0.201419
...                                                          ...
                    603993                              0.375014
                    603996                              0.374582
                    603997                              0.375220
                    603998                              0.370006
                    603999                              0.374920

[2887 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-19 09:30:00 000001                              0.234209
                    000002                             -0.340259
                    000004                              0.310462
                    000005                              0.302082
                    000006                              0.125343
...                                                          ...
                    603993                              0.307094
                    603996                              0.306765
                    603997                              0.308235
                    603998                              0.301904
                    603999                              0.306978

[2886 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-22 09:30:00 000001                             -1.108352
                    000002                             -0.503336
                    000004                             -0.846207
                    000005                             -0.907994
                    000006                             -0.163165
...                                                          ...
                    603993                             -0.898289
                    603996                             -0.900899
                    603997                             -0.899823
                    603998                             -0.910683
                    603999                             -0.901366

[2893 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-23 09:30:00 000001                             -0.917361
                    000002                             -0.558305
                    000004                             -0.822016
                    000005                             -1.225147
                    000006                              0.155903
...                                                          ...
                    603993                             -1.210573
                    603996                             -1.216921
                    603997                             -1.213176
                    603998                             -1.227236
                    603999                             -1.217605

[2897 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-24 09:30:00 000001                             -0.781696
                    000002                             -0.604605
                    000004                             -0.419061
                    000005                             -0.384471
                    000006                             -0.567398
...                                                          ...
                    603993                             -0.368052
                    603996                             -0.369200
                    603997                             -0.367773
                    603998                             -0.373455
                    603999                             -0.365748

[2901 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-25 09:30:00 000001                             -0.198933
                    000002                             -0.492590
                    000004                              0.043412
                    000005                              0.106173
                    000006                              0.044412
...                                                          ...
                    603993                              0.113576
                    603996                              0.112811
                    603997                              0.113978
                    603998                              0.108483
                    603999                              0.117019

[2905 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-26 09:30:00 000001                              0.052106
                    000002                             -0.187464
                    000004                             -0.124214
                    000005                             -0.116548
                    000006                             -0.171428
...                                                          ...
                    603993                             -0.108631
                    603996                             -0.109840
                    603997                             -0.108180
                    603998                             -0.110542
                    603999                             -0.104616

[2907 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-05-31 09:30:00 000001                              2.032026
                    000002                              4.303789
                    000004                             -0.676856
                    000005                             -0.808866
                    000006                             -0.325650
...                                                          ...
                    603993                             -0.799856
                    603996                             -0.786495
                    603997                             -0.674567
                    603998                             -0.802708
                    603999                             -0.796976

[2912 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-01 09:30:00 000001                              2.545568
                    000002                              5.211254
                    000004                             -1.365448
                    000005                             -1.673447
                    000006                             -0.661824
...                                                          ...
                    603993                             -1.665287
                    603996                             -1.648062
                    603997                             -1.632354
                    603998                             -1.668768
                    603999                             -1.662595

[2916 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-02 09:30:00 000001                             -0.191566
                    000002                              0.155201
                    000004                             -0.277647
                    000005                             -0.256556
                    000006                             -0.362084
...                                                          ...
                    603993                             -0.252280
                    603996                             -0.252906
                    603997                             -0.248647
                    603998                             -0.259573
                    603999                             -0.252407

[2923 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-05 09:30:00 000001                              0.090625
                    000002                             -0.233571
                    000004                              0.586139
                    000005                              0.640747
                    000006                              0.466626
...                                                          ...
                    603993                              0.641897
                    603996                              0.640871
                    603997                              0.642353
                    603998                              0.636976
                    603999                              0.642131

[2930 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-06 09:30:00 000001                             -0.685154
                    000002                             -0.243053
                    000004                             -0.345904
                    000005                             -0.274976
                    000006                             -0.587877
...                                                          ...
                    603993                             -0.272096
                    603996                             -0.274918
                    603997                             -0.272682
                    603998                             -0.273095
                    603999                             -0.273315

[2931 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-07 09:30:00 000001                             -0.189377
                    000002                             -0.253448
                    000004                             -0.245308
                    000005                             -0.177931
                    000006                             -0.478205
...                                                          ...
                    603993                             -0.174504
                    603996                             -0.176729
                    603997                             -0.174617
                    603998                             -0.177999
                    603999                             -0.176061

[2937 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-08 09:30:00 000001                             -0.520493
                    000002                             -0.237333
                    000004                             -0.155792
                    000005                             -0.136099
                    000006                             -0.327710
...                                                          ...
                    603993                             -0.136114
                    603996                             -0.137601
                    603997                             -0.132081
                    603998                             -0.140534
                    603999                             -0.137022

[2944 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-09 09:30:00 000001                             -2.182714
                    000002                             -0.206115
                    000004                             -2.022723
                    000005                             -1.997015
                    000006                             -1.484579
...                                                          ...
                    603993                             -1.995024
                    603996                             -2.000140
                    603997                             -1.998318
                    603998                             -2.000241
                    603999                             -1.991619

[2947 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-12 09:30:00 000001                              0.870455
                    000002                             -0.265996
                    000004                              1.489317
                    000005                              1.491901
                    000006                              1.530996
...                                                          ...
                    603993                              1.492377
                    603996                              1.493009
                    603997                              1.494823
                    603998                              1.490407
                    603999                              1.493412

[2946 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-13 09:30:00 000001                              0.930827
                    000002                             -0.221874
                    000004                              1.591781
                    000005                              1.584284
                    000006                              1.627518
...                                                          ...
                    603993                              1.584395
                    603996                              1.585352
                    603997                              1.587713
                    603998                              1.582977
                    603999                              1.585735

[2949 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-14 09:30:00 000001                              0.625669
                    000002                             -0.297753
                    000004                              1.215170
                    000005                              1.216363
                    000006                              1.201114
...                                                          ...
                    603993                              1.216800
                    603996                              1.217004
                    603997                              1.218591
                    603998                              1.214661
                    603999                              1.217385

[2952 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-15 09:30:00 000001                              0.653215
                    000002                             -0.289436
                    000004                              1.253104
                    000005                              1.239983
                    000006                              1.235496
...                                                          ...
                    603993                              1.241429
                    603996                              1.240488
                    603997                              1.241798
                    603998                              1.238135
                    603999                              1.241173

[2953 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-16 09:30:00 000001                              3.980528
                    000002                             -0.000321
                    000005                              4.119318
                    000006                              4.380643
                    000007                              4.130344
...                                                          ...
                    603993                              4.116977
                    603996                              4.119176
                    603997                              4.125293
                    603998                              4.119996
                    603999                              4.120301

[2954 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-19 09:30:00 000001                              0.429598
                    000002                             -0.241209
                    000005                              0.780516
                    000006                              0.684558
                    000007                              0.776861
...                                                          ...
                    603993                              0.781395
                    603996                              0.781054
                    603997                              0.779476
                    603998                              0.779370
                    603999                              0.781325

[2953 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-20 09:30:00 000001                              0.421876
                    000002                             -0.247105
                    000005                              0.773291
                    000006                              0.679179
                    000007                              0.769649
...                                                          ...
                    603993                              0.774019
                    603996                              0.773708
                    603997                              0.772145
                    603998                              0.772105
                    603999                              0.773570

[2958 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-21 09:30:00 000001                              0.378608
                    000002                             -0.249818
                    000005                              0.703469
                    000006                              0.607398
                    000007                              0.700255
...                                                          ...
                    603993                              0.703992
                    603996                              0.703689
                    603997                              0.701990
                    603998                              0.704703
                    603999                              0.703484

[2960 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-22 09:30:00 000001                              0.444615
                    000002                             -0.211467
                    000005                              0.685876
                    000006                              0.595002
                    000007                              0.686692
...                                                          ...
                    603993                              0.686642
                    603996                              0.686382
                    603997                              0.684754
                    603998                              0.688869
                    603999                              0.686309

[2961 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-23 09:30:00 000001                              0.176531
                    000002                             -0.265138
                    000005                              0.445808
                    000006                              0.351243
                    000007                              0.442390
...                                                          ...
                    603993                              0.446389
                    603996                              0.446122
                    603997                              0.443747
                    603998                              0.445068
                    603999                              0.445766

[2966 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-26 09:30:00 000001                             -0.028171
                    000002                             -0.063296
                    000005                              0.277788
                    000006                              0.188572
                    000007                              0.272915
...                                                          ...
                    603993                              0.277735
                    603996                              0.278024
                    603997                              0.274479
                    603998                              0.276345
                    603999                              0.277028

[2965 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-27 09:30:00 000001                             -0.022138
                    000002                              2.190378
                    000005                              0.223296
                    000006                              0.120097
                    000007                              0.219191
...                                                          ...
                    603993                              0.222920
                    603996                              0.222895
                    603997                              0.219464
                    603998                              0.221579
                    603999                              0.222144

[2973 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-28 09:30:00 000001                             -0.389893
                    000002                              2.651131
                    000005                             -0.172811
                    000006                             -0.319425
                    000007                             -0.173386
...                                                          ...
                    603993                             -0.173666
                    603996                             -0.172700
                    603997                             -0.178970
                    603998                             -0.174498
                    603999                             -0.172347

[2982 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-29 09:30:00 000001                             -0.153107
                    000002                              2.409861
                    000005                             -0.607423
                    000006                             -0.788134
                    000007                             -0.593802
...                                                          ...
                    603993                             -0.609359
                    603996                             -0.608597
                    603997                             -0.616464
                    603998                             -0.610570
                    603999                             -0.608713

[2980 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-06-30 09:30:00 000001                             -0.601262
                    000002                              0.842850
                    000005                             -0.552188
                    000006                             -0.726848
                    000007                             -0.532269
...                                                          ...
                    603993                             -0.553365
                    603996                             -0.549805
                    603997                             -0.559812
                    603998                             -0.552629
                    603999                             -0.553303

[2981 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-03 09:30:00 000001                              0.113097
                    000002                             -0.358111
                    000005                              0.371130
                    000006                              0.279464
                    000007                              0.371105
...                                                          ...
                    603993                              0.371108
                    603996                              0.371023
                    603997                              0.367964
                    603998                              0.370372
                    603999                              0.370301

[2982 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-04 09:30:00 000001                             -1.168431
                    000002                             -0.102246
                    000005                             -0.867878
                    000006                             -1.112971
                    000007                             -0.846347
...                                                          ...
                    603993                             -0.866033
                    603996                             -0.868016
                    603997                             -0.876176
                    603998                             -0.869160
                    603999                             -0.868478

[2989 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-05 09:30:00 000001                             -0.821501
                    000002                             -0.395569
                    000005                             -0.513170
                    000006                             -0.568604
                    000007                             -0.516340
...                                                          ...
                    603993                             -0.513319
                    603996                             -0.514799
                    603997                             -0.519876
                    603998                             -0.515081
                    603999                             -0.513906

[2991 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-06 09:30:00 000001                             -0.272631
                    000002                             -0.364603
                    000005                             -0.073817
                    000006                             -0.120013
                    000007                             -0.077573
...                                                          ...
                    603993                             -0.075019
                    603996                             -0.075581
                    603997                             -0.079284
                    603998                             -0.074696
                    603999                             -0.075266

[2993 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-07 09:30:00 000001                             -0.141808
                    000002                             -0.447701
                    000005                              0.087328
                    000006                              0.023064
                    000007                              0.086363
...                                                          ...
                    603993                              0.089617
                    603996                              0.086294
                    603997                              0.082995
                    603998                              0.086471
                    603999                              0.086361

[2993 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-10 09:30:00 000001                             -0.025680
                    000002                             -0.472683
                    000005                              0.176450
                    000006                              0.129490
                    000007                              0.177944
...                                                          ...
                    603993                              0.187449
                    603996                              0.175469
                    603997                              0.172495
                    603998                              0.175162
                    603999                              0.175701

[2995 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-11 09:30:00 000001                             -0.052752
                    000002                             -0.431324
                    000005                             -0.830184
                    000006                             -0.989685
                    000007                             -0.826546
...                                                          ...
                    603993                             -0.806588
                    603996                             -0.832118
                    603997                             -0.838354
                    603998                             -0.831736
                    603999                             -0.830851

[2999 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-12 09:30:00 000001                              3.551396
                    000002                             -0.464383
                    000005                             -0.585547
                    000006                             -0.694985
                    000007                             -0.588998
...                                                          ...
                    603993                             -0.583694
                    603996                             -0.587605
                    603997                             -0.589732
                    603998                             -0.585503
                    603999                             -0.585842

[2999 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-13 09:30:00 000001                              4.737330
                    000002                              1.729977
                    000005                             -0.990685
                    000006                             -1.082289
                    000007                             -0.991404
...                                                          ...
                    603993                             -0.991087
                    603996                             -0.991780
                    603997                             -0.993368
                    603998                             -0.988443
                    603999                             -0.989799

[2995 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-14 09:30:00 000001                              4.708310
                    000002                              2.272364
                    000005                             -0.768415
                    000006                             -0.825764
                    000007                             -0.749024
...                                                          ...
                    603993                             -0.772200
                    603996                             -0.775026
                    603997                             -0.775912
                    603998                             -0.762674
                    603999                             -0.771480

[2999 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-17 09:30:00 000001                              0.266117
                    000002                             -0.293847
                    000005                              0.788477
                    000006                              0.773348
                    000007                              0.787446
...                                                          ...
                    603993                              0.786925
                    603996                              0.788233
                    603997                              0.788207
                    603998                              0.787892
                    603999                              0.787975

[3000 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-18 09:30:00 000001                              0.923621
                    000002                             -0.037849
                    000005                              1.322444
                    000006                              1.367426
                    000008                              1.324491
...                                                          ...
                    603993                              1.320425
                    603996                              1.319641
                    603997                              1.319875
                    603998                              1.319467
                    603999                              1.319632

[2996 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-19 09:30:00 000001                             -0.283541
                    000002                             -0.517742
                    000005                              0.220739
                    000006                              0.213299
                    000008                              0.216726
...                                                          ...
                    603993                              0.218328
                    603996                              0.220686
                    603997                              0.219480
                    603998                              0.220209
                    603999                              0.219928

[3000 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-20 09:30:00 000001                             -0.292798
                    000002                             -0.569969
                    000005                              0.176048
                    000006                              0.160729
                    000008                              0.176451
...                                                          ...
                    603993                              0.174631
                    603996                              0.176586
                    603997                              0.181688
                    603998                              0.177759
                    603999                              0.175436

[2999 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-21 09:30:00 000001                             -0.354470
                    000002                             -0.554528
                    000005                             -0.306434
                    000006                             -0.233055
                    000008                             -0.296308
...                                                          ...
                    603993                             -0.304777
                    603996                             -0.306411
                    603997                             -0.301527
                    603998                             -0.305750
                    603999                             -0.307637

[3002 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-24 09:30:00 000001                             -0.325097
                    000002                             -0.579936
                    000005                             -0.429583
                    000006                             -0.408172
                    000008                             -0.369097
...                                                          ...
                    603993                             -0.429398
                    603996                             -0.430161
                    603997                             -0.426579
                    603998                             -0.431275
                    603999                             -0.429926

[3002 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-25 09:30:00 000001                             -0.483086
                    000002                             -0.190172
                    000005                             -1.018236
                    000006                             -1.017199
                    000008                             -0.964029
...                                                          ...
                    603993                             -1.015047
                    603996                             -1.018331
                    603997                             -1.013733
                    603998                             -1.019847
                    603999                             -1.017833

[3000 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-26 09:30:00 000001                             -0.190333
                    000002                              0.994683
                    000005                             -0.546672
                    000006                             -0.558249
                    000008                             -0.543664
...                                                          ...
                    603993                             -0.545268
                    603996                             -0.546655
                    603997                             -0.545337
                    603998                             -0.547642
                    603999                             -0.546469

[3003 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-27 09:30:00 000001                             -0.454136
                    000002                              0.686749
                    000005                             -1.275919
                    000006                             -1.287784
                    000008                             -1.260490
...                                                          ...
                    603993                             -1.272965
                    603996                             -1.271380
                    603997                             -1.269341
                    603998                             -1.272430
                    603999                             -1.270895

[3003 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-28 09:30:00 000001                              0.265080
                    000002                             -0.368647
                    000004                             -0.041235
                    000005                             -0.020224
                    000006                             -0.074422
...                                                          ...
                    603993                             -0.017999
                    603996                             -0.018382
                    603997                             -0.015611
                    603998                             -0.033711
                    603999                             -0.019289

[3009 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-07-31 09:30:00 000001                              0.411180
                    000002                             -0.576551
                    000004                             -1.339334
                    000005                             -1.326306
                    000006                             -1.433497
...                                                          ...
                    603993                             -1.330852
                    603996                             -1.321415
                    603997                             -1.318963
                    603998                             -1.329543
                    603999                             -1.324797

[3013 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-01 09:30:00 000001                             -0.216885
                    000002                             -0.831684
                    000004                             -0.327826
                    000005                             -0.312652
                    000006                             -0.345530
...                                                          ...
                    603993                             -0.308826
                    603996                             -0.309576
                    603997                             -0.311124
                    603998                             -0.318497
                    603999                             -0.311396

[3015 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-02 09:30:00 000001                             -0.860318
                    000002                             -0.707095
                    000004                             -1.283101
                    000005                             -1.273040
                    000006                             -1.305303
...                                                          ...
                    603993                             -1.279161
                    603996                             -1.274092
                    603997                             -1.274529
                    603998                             -1.274527
                    603999                             -1.274841

[3022 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-03 09:30:00 000001                              0.372788
                    000002                             -0.635752
                    000004                             -0.356671
                    000005                             -0.344207
                    000006                             -0.344103
...                                                          ...
                    603993                             -0.349886
                    603996                             -0.345234
                    603997                             -0.345737
                    603998                             -0.345699
                    603999                             -0.345616

[3021 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-04 09:30:00 000001                              0.633298
                    000002                             -0.804027
                    000004                              0.995771
                    000005                              1.000826
                    000006                              1.476523
...                                                          ...
                    603993                              1.008188
                    603996                              1.000659
                    603997                              0.999528
                    603998                              1.003352
                    603999                              1.001031

[3026 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-07 09:30:00 000001                             -0.266101
                    000002                              0.479657
                    000004                             -0.157844
                    000005                             -0.145511
                    000006                              0.490060
...                                                          ...
                    603993                             -0.150249
                    603996                             -0.136095
                    603997                             -0.147527
                    603998                             -0.145843
                    603999                             -0.146345

[3028 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-08 09:30:00 000001                             -0.456310
                    000002                             -0.536524
                    000004                              0.258406
                    000005                              0.266696
                    000006                              0.216415
...                                                          ...
                    603993                              0.266038
                    603996                              0.266241
                    603997                              0.265779
                    603998                              0.266293
                    603999                              0.266579

[3028 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-09 09:30:00 000001                             -0.470176
                    000002                             -0.460931
                    000004                             -0.352656
                    000005                             -0.344317
                    000006                             -0.350952
...                                                          ...
                    603993                             -0.346797
                    603996                             -0.345837
                    603997                             -0.346321
                    603998                             -0.343930
                    603999                             -0.345818

[3030 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-10 09:30:00 000001                             -0.419736
                    000002                             -0.540355
                    000004                             -0.646051
                    000005                             -0.636799
                    000006                             -0.659316
...                                                          ...
                    603993                             -0.639963
                    603996                             -0.638188
                    603997                             -0.635397
                    603998                             -0.639186
                    603999                             -0.638173

[3029 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-11 09:30:00 000001                              0.841239
                    000002                             -0.549742
                    000004                             -0.563673
                    000005                             -0.557055
                    000006                             -0.599725
...                                                          ...
                    603993                             -0.559502
                    603996                             -0.556521
                    603997                             -0.548721
                    603998                             -0.544497
                    603999                             -0.557913

[3027 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-14 09:30:00 000001                              0.432448
                    000002                             -0.406476
                    000004                             -0.507998
                    000005                             -0.471743
                    000006                             -0.472087
...                                                          ...
                    603993                             -0.470379
                    603996                             -0.472476
                    603997                             -0.475877
                    603998                             -0.473691
                    603999                             -0.472697

[3030 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-15 09:30:00 000001                              1.851225
                    000002                              0.203719
                    000004                             -0.000918
                    000005                              0.009907
                    000006                              0.450932
...                                                          ...
                    603993                              0.030605
                    603996                              0.010105
                    603997                              0.007278
                    603998                              0.009038
                    603999                              0.008723

[3030 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-16 09:30:00 000001                             -0.278487
                    000002                             -0.389705
                    000004                              0.599231
                    000005                              0.608081
                    000006                              0.552012
...                                                          ...
                    603993                              0.607741
                    603996                              0.609573
                    603997                              0.607475
                    603998                              0.608074
                    603999                              0.608952

[3029 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-17 09:30:00 000001                             -0.472414
                    000002                             -0.487994
                    000004                              0.754690
                    000005                              0.760215
                    000006                              0.657344
...                                                          ...
                    603993                              0.757501
                    603996                              0.760953
                    603997                              0.759896
                    603998                              0.760582
                    603999                              0.761410

[3030 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-18 09:30:00 000001                             -0.524391
                    000002                             -0.506290
                    000004                              0.882959
                    000005                              0.852956
                    000006                              0.733213
...                                                          ...
                    603993                              0.849514
                    603996                              0.852996
                    603997                              0.852519
                    603998                              0.854302
                    603999                              0.854454

[3034 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-21 09:30:00 000001                             -0.630224
                    000002                             -0.669969
                    000004                             -1.039480
                    000005                             -1.030772
                    000006                             -1.027483
...                                                          ...
                    603993                             -1.032424
                    603996                             -1.031713
                    603997                             -1.034041
                    603998                             -1.032302
                    603999                             -1.031206

[3035 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-22 09:30:00 000001                             -0.676216
                    000002                             -0.284992
                    000004                             -0.850757
                    000005                             -0.845502
                    000006                             -0.772544
...                                                          ...
                    603993                             -0.849206
                    603996                             -0.847178
                    603997                             -0.848482
                    603998                             -0.847618
                    603999                             -0.843052

[3038 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-23 09:30:00 000001                             -0.372207
                    000002                              0.514815
                    000004                             -0.074979
                    000005                             -0.058308
                    000006                             -0.066859
...                                                          ...
                    603993                             -0.055671
                    603996                             -0.059021
                    603997                             -0.059743
                    603998                             -0.059116
                    603999                             -0.065127

[3041 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-24 09:30:00 000001                              1.256446
                    000002                              0.326019
                    000004                              0.573236
                    000005                              0.556254
                    000006                              0.552869
...                                                          ...
                    603993                              0.551049
                    603996                              0.552542
                    603997                              0.552527
                    603998                              0.555389
                    603999                              0.552297

[3044 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-25 09:30:00 000001                              1.562937
                    000002                             -0.344234
                    000004                              0.908319
                    000005                              0.884647
                    000006                              0.745043
...                                                          ...
                    603993                              0.882502
                    603996                              0.885113
                    603997                              0.885261
                    603998                              0.886192
                    603999                              0.888078

[3050 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-28 09:30:00 000001                             -0.542465
                    000002                             -0.498988
                    000004                             -0.130361
                    000005                             -0.125632
                    000006                             -0.226645
...                                                          ...
                    603993                             -0.131041
                    603996                             -0.127239
                    603997                             -0.128455
                    603998                             -0.126780
                    603999                             -0.126113

[3049 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-29 09:30:00 000001                             -0.461219
                    000002                             -0.589101
                    000004                             -0.458891
                    000005                             -0.455901
                    000006                             -0.539272
...                                                          ...
                    603993                             -0.461897
                    603996                             -0.457795
                    603997                             -0.459356
                    603998                             -0.456596
                    603999                             -0.456355

[3054 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-30 09:30:00 000001                             -0.281335
                    000002                             -0.584168
                    000004                             -0.044941
                    000005                             -0.040426
                    000006                             -0.120763
...                                                          ...
                    603993                             -0.045004
                    603996                             -0.041841
                    603997                             -0.043188
                    603998                             -0.040688
                    603999                             -0.040140

[3057 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-08-31 09:30:00 000001                             -0.312445
                    000002                             -0.347478
                    000004                              0.963409
                    000005                              0.981737
                    000006                              0.859785
...                                                          ...
                    603993                              0.977467
                    603996                              0.982229
                    603997                              0.980969
                    603998                              0.982429
                    603999                              0.982536

[3058 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-01 09:30:00 000001                             -0.132838
                    000002                             -0.418647
                    000004                             -0.451029
                    000005                             -0.447194
                    000006                             -0.548508
...                                                          ...
                    603993                             -0.438592
                    603996                             -0.449143
                    603997                             -0.451615
                    603998                             -0.448709
                    603999                             -0.448155

[3063 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-04 09:30:00 000001                              0.392043
                    000002                             -0.475538
                    000004                             -1.790779
                    000005                             -1.821990
                    000006                             -1.814774
...                                                          ...
                    603993                             -1.760208
                    603996                             -1.824217
                    603997                             -1.826128
                    603998                             -1.825271
                    603999                             -1.824841

[3066 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-05 09:30:00 000001                             -1.747050
                    000002                              1.116078
                    000004                              4.003838
                    000005                              4.016510
                    000006                              3.444465
...                                                          ...
                    603993                              4.038844
                    603996                              4.022759
                    603997                              4.020447
                    603998                              4.018383
                    603999                              4.018481

[3071 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-06 09:30:00 000001                              3.032891
                    000002                              0.040008
                    000004                             -0.294557
                    000005                             -0.291380
                    000006                              0.913697
...                                                          ...
                    603993                             -0.294335
                    603996                             -0.289750
                    603997                             -0.292759
                    603998                             -0.306248
                    603999                             -0.291702

[3069 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-07 09:30:00 000001                              2.470070
                    000002                              4.890577
                    000004                              2.356861
                    000005                              2.374153
                    000006                              4.360644
...                                                          ...
                    603993                              2.329037
                    603996                              2.379265
                    603997                              2.376501
                    603998                              2.493607
                    603999                              2.376646

[3072 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-08 09:30:00 000001                             -0.560886
                    000002                              3.363816
                    000004                             -0.232596
                    000005                             -0.499948
                    000006                              1.555071
...                                                          ...
                    603993                             -0.520190
                    603996                             -0.501425
                    603997                             -0.494292
                    603998                             -0.472808
                    603999                             -0.498447

[3074 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-11 09:30:00 000001                              0.185769
                    000002                              3.982873
                    000004                              1.781632
                    000005                              1.644087
                    000006                              3.754980
...                                                          ...
                    603993                              1.637303
                    603996                              1.643237
                    603997                              1.649358
                    603998                              1.624688
                    603999                              1.637612

[3077 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-12 09:30:00 000001                             -0.326018
                    000002                              3.571387
                    000004                             -1.810658
                    000005                             -1.268631
                    000006                              4.427673
...                                                          ...
                    603993                             -2.186422
                    603996                             -2.224046
                    603997                             -2.222420
                    603998                             -2.205426
                    603999                             -2.234254

[3077 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-13 09:30:00 000001                             -0.414147
                    000002                             -0.113863
                    000004                              0.547309
                    000005                              0.600196
                    000006                              0.415817
...                                                          ...
                    603993                              0.560645
                    603996                              0.533999
                    603997                              0.535231
                    603998                              0.526416
                    603999                              0.535921

[3077 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-14 09:30:00 000001                             -0.518695
                    000002                             -0.109278
                    000004                              0.254459
                    000005                              0.343397
                    000006                              1.264448
...                                                          ...
                    603993                              0.261240
                    603996                              0.238042
                    603997                              0.243234
                    603998                              0.324958
                    603999                              0.241609

[3080 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-15 09:30:00 000001                             -0.570205
                    000002                              3.353274
                    000004                              0.268567
                    000005                              0.404491
                    000006                              3.212458
...                                                          ...
                    603993                              0.311240
                    603996                              0.287067
                    603997                              0.290828
                    603998                              0.601799
                    603999                              0.289845

[3080 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-18 09:30:00 000001                             -0.291661
                    000002                              2.249445
                    000004                             -0.488779
                    000005                             -0.489831
                    000006                              0.045071
...                                                          ...
                    603993                             -0.425891
                    603996                             -0.421176
                    603997                             -0.422256
                    603998                             -0.408560
                    603999                             -0.420662

[3081 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-19 09:30:00 000001                             -0.318060
                    000002                              1.646257
                    000004                             -0.135981
                    000005                             -0.187157
                    000006                              0.455144
...                                                          ...
                    603993                             -0.126974
                    603996                             -0.133823
                    603997                             -0.134325
                    603998                             -0.140233
                    603999                             -0.130011

[3085 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-20 09:30:00 000001                             -0.525539
                    000002                             -0.197614
                    000004                              0.532958
                    000005                              0.531719
                    000006                              0.145728
...                                                          ...
                    603993                              0.538988
                    603996                              0.537780
                    603997                              0.538281
                    603998                              0.512392
                    603999                              0.540554

[3085 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-21 09:30:00 000001                             -0.520872
                    000002                             -0.350183
                    000004                              1.224435
                    000005                              1.196667
                    000006                              1.044140
...                                                          ...
                    603993                              1.167270
                    603996                              1.162835
                    603997                              1.165328
                    603998                              1.121338
                    603999                              1.166646

[3086 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-22 09:30:00 000001                              0.453314
                    000002                             -0.532491
                    000004                              3.436816
                    000005                              3.500334
                    000006                              2.335522
...                                                          ...
                    603993                              3.386892
                    603996                              3.387283
                    603997                              3.378628
                    603998                              3.380259
                    603999                              3.377715

[3089 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-25 09:30:00 000001                             -0.303937
                    000002                             -0.564968
                    000004                              0.237197
                    000005                              0.238726
                    000006                              0.298638
...                                                          ...
                    603993                              0.263511
                    603996                              0.262686
                    603997                              0.257672
                    603998                              0.241055
                    603999                              0.259237

[3090 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-26 09:30:00 000001                             -0.526750
                    000002                             -0.081651
                    000004                              0.083388
                    000005                              0.081774
                    000006                             -0.259161
...                                                          ...
                    603993                              0.106874
                    603996                              0.108049
                    603997                              0.108145
                    603998                              0.089893
                    603999                              0.109581

[3092 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-27 09:30:00 000001                             -0.548037
                    000002                             -0.511141
                    000004                             -0.319395
                    000005                             -0.333867
                    000006                             -0.574616
...                                                          ...
                    603993                             -0.288150
                    603996                             -0.282261
                    603997                             -0.282722
                    603998                             -0.296878
                    603999                             -0.281323

[3095 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-28 09:30:00 000001                             -0.073172
                    000002                             -0.527033
                    000004                             -0.321209
                    000005                             -0.336129
                    000006                             -0.404776
...                                                          ...
                    603993                             -0.290340
                    603996                             -0.284316
                    603997                             -0.284914
                    603998                             -0.299913
                    603999                             -0.283528

[3093 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-09-29 09:30:00 000001                              0.341245
                    000002                             -0.545918
                    000004                             -0.346157
                    000005                             -0.361481
                    000006                              0.111941
...                                                          ...
                    603993                             -0.311036
                    603996                             -0.308504
                    603997                             -0.308699
                    603998                             -0.324427
                    603999                             -0.307861

[3092 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-10-09 09:30:00 000001                             -0.426650
                    000002                             -0.280421
                    000004                             -0.642685
                    000005                             -0.685739
                    000006                              1.219149
...                                                          ...
                    603993                             -0.622309
                    603996                             -0.616717
                    603997                             -0.614572
                    603998                             -0.626488
                    603999                             -0.609784

[3092 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-10-10 09:30:00 000001                              1.945956
                    000002                             -0.444150
                    000004                             -0.463953
                    000005                             -0.493533
                    000006                             -0.419280
...                                                          ...
                    603993                             -0.437968
                    603996                             -0.432286
                    603997                             -0.433510
                    603998                             -0.441101
                    603999                             -0.431562

[3091 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-10-11 09:30:00 000001                             -0.285265
                    000002                             -0.518873
                    000004                             -0.356424
                    000005                             -0.393061
                    000006                             -0.608651
...                                                          ...
                    603993                             -0.342399
                    603996                             -0.336576
                    603997                             -0.335785
                    603998                             -0.350041
                    603999                             -0.336241

[3092 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-10-12 09:30:00 000001                             -0.540042
                    000002                             -0.629072
                    000004                             -0.058039
                    000005                             -0.081989
                    000006                             -0.654824
...                                                          ...
                    603993                             -0.044684
                    603996                             -0.041830
                    603997                             -0.040992
                    603998                             -0.058128
                    603999                             -0.040298

[3094 rows x 1 columns]

                            ewmCov(open,high,7)_time_series_norm
timestamp           ticker
2017-10-13 09:30:00 000001                             -0.491411
                    000002                             -0.625149
                    000004                             -0.141864
                    000005                             -0.168225
                    000006                             -0.513311
...                                                          ...
                    603993                             -0.123958
                    603996                             -0.124176
                    603997                             -0.123617
                    603998                             -0.138360
                    603999                             -0.122865

[3088 rows x 1 columns]

KeyboardInterrupt:

In [23]:
group.to_csv("/home/wuwenjun/feature_platform/ti0/wuwenjun/test.csv", header=False, encoding='utf-8')

In [24]:
pd.read_csv("/home/wuwenjun/feature_platform/ti0/wuwenjun/test.csv")

      2017-10-16 09:30:00  000001  -0.5820808173712816
0     2017-10-16 09:30:00       2            -0.554312
1     2017-10-16 09:30:00       4            -0.561384
2     2017-10-16 09:30:00       5            -0.597661
3     2017-10-16 09:30:00       6            -0.177927
4     2017-10-16 09:30:00       7            -0.477869
...                   ...     ...                  ...
3085  2017-10-16 09:30:00  603993            -0.531642
3086  2017-10-16 09:30:00  603996            -0.528607
3087  2017-10-16 09:30:00  603997            -0.527753
3088  2017-10-16 09:30:00  603998            -0.523065
3089  2017-10-16 09:30:00  603999            -0.528668

[3090 rows x 3 columns]