In [1]:
import torch
import pandas as pd 
import numpy as np

In [2]:
torch.cuda.is_available()
torch.cuda.device_count()
torch.cuda.get_device_name(0)

'A100-PCIE-40GB'

In [3]:
corr = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_5d_return/Corr/2017-01-01_2017-03-01.par").iloc[10000,:])
corr = corr.T.set_index(["timestamp","ticker"])
corr.index

MultiIndex([('2017-02-17 09:30:00', 735)],
           names=['timestamp', 'ticker'])

In [5]:
data = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_5d_return/Data/2017-01-01_2017-03-01.par").iloc[10000,:])
data = data.T.set_index(["timestamp","ticker"])
data.index

MultiIndex([('2017-02-17 09:30:00', 735)],
           names=['timestamp', 'ticker'])

In [6]:
corr

,,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2017-02-17 09:30:00,735,0.702198,0.992243,0.870583,0.909339,0.461905,0.943725,0.615144,0.610635,0.906562,0.742313,...,1.0,0.511658,-0.829324,0.720368,0.511663,-0.829376,0.720374,1.0,1.0,1.0

In [74]:
pd.DataFrame(np.array(corr).reshape(-1,3))

          0         1         2
0 -0.004042 -0.035911  0.031358
1       0.0 -0.034475  0.028564
2       0.0 -0.025176  0.043467
3   0.00815 -0.019792  0.037249
4  0.001481 -0.026358  0.034587
5 -0.034511  -0.26792      -1.0
6      -1.0  -1.37879      -1.0
7 -0.034496  -0.26789      -1.0
8 -0.034494 -0.267888      -1.0

In [75]:
array = np.array(data.drop("target",axis=1))
array = pd.DataFrame(array.reshape(30,-1))
array

        0      1      2      3          4          5       6       7       8
0   42.06  42.24  41.66  41.72  41.911799  112174.52 -1.5068  1.2755  1.4843
1   41.54  42.12  41.02  41.54  41.555557  155431.21 -0.4172  1.7673  2.0567
2    41.6  43.34  41.48  42.93  42.817489  289103.76   3.352  3.2872  3.8254
3   42.76  44.04  42.64  43.22  43.325163  310929.82  0.6757  3.5354  4.1142
4   42.99   44.5  42.76  43.98    43.6669  387903.43   1.745  4.4106  5.1328
5   43.46  43.69  42.93  43.28  43.257279  281633.42 -1.5831  3.2023  3.7266
6   43.22  43.51  42.76  43.46  43.125574  171433.19  0.4021  1.9493  2.2684
7   43.51  43.51   42.3  42.35   42.87957  201088.26 -2.5367  2.2865  2.6608
8   42.18  42.59  41.77  42.06  42.120671   136796.4 -0.6849  1.5554  1.8101
9   41.89  42.24  41.66  42.06   41.97388  108303.23     0.0  1.2315  1.4331
10  41.77  42.06  41.31  41.43  41.581086  100656.97 -1.5172  1.1445  1.3319
11  41.19   41.6  38.41  39.63  40.246049  189913.84 -4.3417  2.1594  2.5129
12  39.63  39.98  39.05  39.92  39.622916  107265.38  0.7321  1.2197  1.4193
13   39.8  40.27  39.57  39.92  39.972776  104838.06     0.0  1.1921  1.3872
14  39.63  40.03  39.05  39.22  39.392577   98230.63 -1.7442  1.1169  1.2998
15  39.22   39.8  39.16   39.8  39.647284   75316.25  1.4793  0.8564  0.9966
16  39.86  40.44  39.74  40.32  40.125948   77918.69   1.312   0.886   1.031
17  40.32  40.67  39.92  40.32  40.312192   79457.04     0.0  0.9035  1.0514
18  40.15  40.44  40.09  40.38  40.257073   56738.07  0.1439  0.6451  0.7508
19  40.27  40.61  40.27  40.61  40.485091   73688.96  0.5747  0.8379  0.9751
20   40.5  40.61  40.03  40.27  40.377754   53566.98 -0.8571  0.6091  0.7088
21  40.79  41.14  40.03  40.79  40.765907  151984.63  1.2968  1.7281  2.0111
22  40.85   40.9  40.32   40.5  40.577342   74234.29 -0.7112  0.8441  0.9823
23  40.38   40.5  39.86   40.5   40.13233  108240.37     0.0  1.2307  1.4322
24  40.61   40.9  40.56  40.85  40.735737  130096.36  0.8596  1.4793  1.7214
25  40.73  41.31  40.61  41.02  40.962014  157430.84  0.4261  1.7901  2.0831
26   40.9  41.48  40.73  41.19  41.170886  120892.38  0.4243  1.3746  1.5997
27  41.37  42.06  41.02  41.77  41.611256  209948.27  1.4085  2.3872   2.778
28  41.77  41.77  41.77  41.77  41.774292        0.0     0.0     0.0     0.0
29  41.77  41.77  41.77  41.77  41.774292        0.0     0.0     0.0     0.0

In [76]:
a = array.iloc[10:20,[1]]
a = a.astype("float")
a = np.array(a)
a

array([[42.06],
       [41.6 ],
       [39.98],
       [40.27],
       [40.03],
       [39.8 ],
       [40.44],
       [40.67],
       [40.44],
       [40.61]])

In [78]:
(40.60 - 42.06) / 42.06

-0.034712315739419894

# Feat Concat

In [80]:
feat_concat = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/Feat_Concat/2017-01-01_2017-03-01.par").iloc[10000,:])
feat_concat = feat_concat.T.set_index(["timestamp","ticker"])
feat_concat.index

MultiIndex([('2017-02-17 09:30:00', 735)],
           names=['timestamp', 'ticker'])

In [110]:
corr = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/Decay/2017-01-01_2017-03-01.par").iloc[10000,:])
corr = corr.T.set_index(["timestamp","ticker"])
corr.index

MultiIndex([('2017-02-17 09:30:00', 735)],
           names=['timestamp', 'ticker'])

In [112]:
feat_concat.iloc[:,297:]

,,297,298,299,300,301,302,303,304,305,306,...,314,315,316,317,318,319,320,321,322,323
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2017-02-17 09:30:00,735,42.651455,40.024364,41.172182,43.193818,40.431455,41.462182,42.187818,39.724,40.979091,42.694727,...,93347.277273,-0.254527,0.152302,0.376284,2.333287,0.949611,1.061405,2.715298,1.10508,1.235167

In [113]:
corr

,,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2017-02-17 09:30:00,735,42.651455,40.024364,41.172182,43.193818,40.431455,41.462182,42.187818,39.724,40.979091,42.694727,...,93347.277273,-0.254527,0.152302,0.376284,2.333287,0.949611,1.061405,2.715298,1.10508,1.235167

In [95]:
pd.DataFrame(np.array(corr).reshape(-1,3))

           0         1         2
0   0.702198  0.992243  0.870583
1   0.909339  0.461905  0.943725
2   0.615144  0.610635  0.906562
3   0.742313  0.871699  0.945044
4   0.388553  0.447561  -0.42601
5  -0.381747 -0.656886  0.112736
6   0.388568  0.447536 -0.426013
7   0.388553  0.447578 -0.426011
8   0.830123  0.430471   0.83597
9   0.929982  0.593067  0.956562
10  0.984733  0.864909  0.964532
11  0.897175  0.480181  0.029777
12  0.323378 -0.655827  0.455286
13  0.897181  0.480158  0.029775
14  0.897172  0.480196  0.029778
15  0.830254  0.925009  0.913829
16   0.88268  0.805766  0.943442
17  0.571219 -0.540048 -0.448659
18 -0.075943  0.257676  0.078689
19  0.571232  -0.54006 -0.448654
20  0.571218 -0.540039 -0.448664
21  0.956579  0.907878  0.972481
22   0.82582 -0.336491  -0.10646
23  0.470279  0.185892  0.420514
24  0.825827 -0.336495 -0.106462
25   0.82582 -0.336485 -0.106465
26  0.845545  0.014429 -0.205245
27  0.303275  -0.22513  0.315277
28  0.845554  0.014413 -0.205244
29  0.845542  0.014443 -0.205246
30  0.511667 -0.829358  0.720374
31       1.0       1.0       1.0
32       1.0       1.0       1.0
33  0.511658 -0.829324  0.720368
34  0.511663 -0.829376  0.720374
35       1.0       1.0       1.0

# Pooling

In [114]:
pool = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/Pooling/2017-01-01_2017-03-01.par").iloc[10000,:])
pool = pool.T.set_index(["timestamp","ticker"])
pool.index

MultiIndex([('2017-02-17 09:30:00', 735)],
           names=['timestamp', 'ticker'])

In [115]:
corr = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/Cov/2017-01-01_2017-03-01.par").iloc[10000,:])
corr = corr.T.set_index(["timestamp","ticker"])
corr.index

MultiIndex([('2017-02-17 09:30:00', 735)],
           names=['timestamp', 'ticker'])

In [116]:
corr

,,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2017-02-17 09:30:00,735,0.442302,0.5496,0.228491,0.455624,0.288791,0.320633,0.383811,0.286122,0.25701,0.40387,...,62212.429246,0.961192,-0.60879,0.426747,1.118589,-0.708474,0.496614,1.383158,0.202561,0.707382

In [117]:
pool

,,0,1,2,3,4,5,6,7,8,9,...,314,315,316,317,318,319,320,321,322,323
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2017-02-17 09:30:00,735,0.5496,0.406798,0.228491,0.455624,0.355016,0.288791,0.383811,0.308981,0.25701,0.409516,...,83514.601091,0.376284,0.091353,-0.254527,2.333287,1.448101,0.949611,2.715298,1.685182,1.10508

# Final

In [118]:
final = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/Final/2017-01-01_2017-03-01.par").iloc[10000,:])
final = final.T.set_index(["timestamp","ticker"])
final.index

MultiIndex([('2017-02-17 09:30:00', 735)],
           names=['timestamp', 'ticker'])

In [133]:
feat_concat = pd.DataFrame(pd.read_parquet("/home/wuwenjun/Data/AlphaNet_Original_Input_12.22_1d_return_normalized/Corr/2017-01-01_2017-03-01.par").iloc[10000,:])
feat_concat = feat_concat.T.set_index(["timestamp","ticker"])
feat_concat.index

MultiIndex([('2017-02-17 09:30:00', 735)],
           names=['timestamp', 'ticker'])

In [135]:
final.iloc[:,108:216]

,,108,109,110,111,112,113,114,115,116,117,...,206,207,208,209,210,211,212,213,214,215
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2017-02-17 09:30:00,735,0.702198,0.992243,0.870583,0.909339,0.461905,0.943725,0.615144,0.610635,0.906562,0.742313,...,1.0,0.511658,-0.829324,0.720368,0.511663,-0.829376,0.720374,1.0,1.0,1.0

In [134]:
feat_concat

,,0,1,2,3,4,5,6,7,8,9,...,98,99,100,101,102,103,104,105,106,107
timestamp,ticker,,,,,,,,,,,,,,,,,,,,,
2017-02-17 09:30:00,735,0.702198,0.992243,0.870583,0.909339,0.461905,0.943725,0.615144,0.610635,0.906562,0.742313,...,1.0,0.511658,-0.829324,0.720368,0.511663,-0.829376,0.720374,1.0,1.0,1.0